#set($id = $product.Id)
#set($idSku = $product.productVariantId)
#set($uri = $product.Uri)
#set($escapedName = $product.HtmlEscapedName)
#set($nameProduct = $product.Name)

<span class="vitrina" id="product-$id">
    <span class="vitrina__contenedor-banderas">
        <span class="vitrina__colIzq">
            <!-- <span class="vitrina__product-descuentoTotal"></span> -->
        </span>
        <span class="vitrina__colDer">
            <span class="vitrina__banderas">
                $product.DiscountHightLight
                $product.HightLight
            </span>
        </span>
    </span>

    <a class="vitrina__link" href="$uri" title="$escapedName">

        <span class="vitrina__product-image">
            $product.GetImageTag(2)
        </span>

    </a>

    

    <span class="vitrina__descuento">
        #if ($product.ListPriceMinusBestPriceInPercent)
        <span class="vitrina__descuento-numero">$product.ListPriceMinusBestPriceInPercent</span>
        #end
    </span>

    <span class="vitrina__product-info">

        <a class="vitrina__product-info-link" href="$uri" title="$escapedName">

            <span class="vitrina__product-name">
                $product.Name
            </span>
            <span class="vitrina__product_codigo">
                Sku: $product.Id
            </span>

        </a>

        <span class="vitrina__condiciones-pago">

            <span class="vitrina__montos">


                <span class="precio__tachado">
                    #if($product.IsInStock)
                    #if ($product.HasBestPrice)
                    <span class="vitrina__product-old-price">
                        $product.ListPrice
                    </span>
                    #end
                </span>
                <span class="vitrina__product-best-price">
                    <strong>$product.BestPrice</strong>
                </span>
                #else
                <span class="vitrina__product-best-price">
                    <strong style="opacity: 0;">-</strong>
                </span>
                #end
            </span>

            

                
            #if ($product.NumbersOfInstallment > 0)
            <span class="vitrina__installment">
                o ${product.NumbersOfInstallment} cuotas de <span class="nowrap">$product.InstallmentValue</span>
            </span>
            #end

            <!-- <div class="vitrina__comprar">
                <a href="$uri">
                    <btn class="vitrina__comprar-btn">
                        #if($product.IsInStock)
                        COMPRAR
                        #else
                        COTIZAR
                        #end
                    </btn>
                </a>
            </div> -->
        </span>

    </span>
</span>