<!-- 
*
* Desarrollado por Innew
* contacto@innew.la
*
-->

<footer class="flex justify-center flex-wrap">
  <div
    class="
      footer__top
      flex flex-col
      px-16 md:px-2
      md:flex-row
      md:justify-between
      md:items-start
    "
  >
    <div class="redes flex">
      <a href="https://www.facebook.com/senseiarg/" target="_blank">
        <svg
          width="30"
          height="30"
          viewBox="0 0 30 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            y="0.236816"
            width="29.4627"
            height="29.4627"
            rx="14.7313"
            fill="#494949"
          />
          <path
            d="M15.7152 24.7889V15.8293H18.7226L19.1728 12.3377H15.7152V10.1083C15.7152 9.09741 15.996 8.40842 17.4457 8.40842L19.2947 8.40757V5.28465C18.9748 5.24226 17.8773 5.14722 16.6004 5.14722C13.9346 5.14722 12.1095 6.77436 12.1095 9.76268V12.3377H9.09436V15.8294H12.1094V24.789L15.7152 24.7889Z"
            fill="#F9F9F9"
          />
        </svg>
      </a>
      <a href="https://www.instagram.com/senseiarg/" target="_blank" >
        <svg
          width="30"
          height="30"
          viewBox="0 0 30 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="0.462646"
            y="0.236816"
            width="29.4627"
            height="29.4627"
            rx="14.7313"
            fill="#494949"
          />
          <path
            d="M12.1259 14.9681C12.1259 13.2732 13.4995 11.8988 15.1944 11.8988C16.8893 11.8988 18.2637 13.2732 18.2637 14.9681C18.2637 16.663 16.8893 18.0373 15.1944 18.0373C13.4995 18.0373 12.1259 16.663 12.1259 14.9681ZM10.4667 14.9681C10.4667 17.5792 12.5833 19.6958 15.1944 19.6958C17.8055 19.6958 19.9221 17.5792 19.9221 14.9681C19.9221 12.3569 17.8055 10.2403 15.1944 10.2403C12.5833 10.2403 10.4667 12.3569 10.4667 14.9681ZM19.0044 10.0529C19.0043 10.2714 19.0691 10.485 19.1904 10.6668C19.3117 10.8485 19.4842 10.9902 19.6861 11.0739C19.8879 11.1576 20.1101 11.1796 20.3244 11.137C20.5387 11.0945 20.7356 10.9893 20.8902 10.8349C21.0448 10.6804 21.1501 10.4836 21.1928 10.2693C21.2355 10.055 21.2137 9.83285 21.1302 9.63093C21.0467 9.42901 20.9051 9.2564 20.7235 9.13493C20.5418 9.01345 20.3282 8.94857 20.1097 8.94848H20.1093C19.8164 8.94862 19.5355 9.065 19.3283 9.27208C19.1212 9.47915 19.0047 9.75998 19.0044 10.0529ZM11.4747 22.4624C10.5771 22.4215 10.0892 22.272 9.76494 22.1457C9.33507 21.9783 9.02837 21.779 8.7059 21.457C8.38343 21.135 8.18382 20.8286 8.01721 20.3987C7.89081 20.0746 7.74129 19.5866 7.70049 18.6889C7.65585 17.7184 7.64694 17.4269 7.64694 14.9681C7.64694 12.5094 7.65659 12.2187 7.70049 11.2474C7.74137 10.3497 7.89199 9.86263 8.01721 9.53759C8.18456 9.10773 8.38387 8.80102 8.7059 8.47855C9.02793 8.15608 9.33434 7.95647 9.76494 7.78986C10.089 7.66347 10.5771 7.51394 11.4747 7.47314C12.4452 7.4285 12.7368 7.41959 15.1944 7.41959C17.652 7.41959 17.9438 7.42924 18.9152 7.47314C19.8128 7.51402 20.2999 7.66464 20.625 7.78986C21.0548 7.95647 21.3615 8.15652 21.684 8.47855C22.0065 8.80058 22.2053 9.10773 22.3727 9.53759C22.4991 9.86168 22.6486 10.3497 22.6894 11.2474C22.734 12.2187 22.743 12.5094 22.743 14.9681C22.743 17.4269 22.734 17.7176 22.6894 18.6889C22.6485 19.5866 22.4983 20.0745 22.3727 20.3987C22.2053 20.8286 22.006 21.1353 21.684 21.457C21.362 21.7787 21.0548 21.9783 20.625 22.1457C20.3009 22.2721 19.8128 22.4216 18.9152 22.4624C17.9447 22.5071 17.6531 22.516 15.1944 22.516C12.7357 22.516 12.4449 22.5071 11.4747 22.4624ZM11.3985 5.81674C10.4183 5.86138 9.74858 6.0168 9.16368 6.2444C8.55792 6.47943 8.04513 6.79476 7.5327 7.30638C7.02027 7.818 6.70575 8.3316 6.47071 8.93736C6.24311 9.52263 6.0877 10.192 6.04306 11.1722C5.99769 12.1539 5.9873 12.4677 5.9873 14.9681C5.9873 17.4684 5.99769 17.7823 6.04306 18.764C6.0877 19.7442 6.24311 20.4135 6.47071 20.9988C6.70575 21.6042 7.02034 22.1184 7.5327 22.6298C8.04505 23.1412 8.55792 23.456 9.16368 23.6918C9.74969 23.9193 10.4183 24.0748 11.3985 24.1194C12.3807 24.164 12.694 24.1752 15.1944 24.1752C17.6947 24.1752 18.0086 24.1648 18.9903 24.1194C19.9705 24.0748 20.6398 23.9193 21.2251 23.6918C21.8305 23.456 22.3437 23.1414 22.8561 22.6298C23.3685 22.1181 23.6824 21.6042 23.9181 20.9988C24.1457 20.4135 24.3018 19.7441 24.3457 18.764C24.3904 17.7815 24.4007 17.4684 24.4007 14.9681C24.4007 12.4677 24.3904 12.1539 24.3457 11.1722C24.3011 10.192 24.1457 9.52227 23.9181 8.93736C23.6824 8.33197 23.3677 7.81881 22.8561 7.30638C22.3445 6.79395 21.8305 6.47943 21.2258 6.2444C20.6398 6.0168 19.9704 5.86064 18.991 5.81674C18.0093 5.77211 17.6955 5.76099 15.1951 5.76099C12.6948 5.76099 12.3807 5.77137 11.3985 5.81674Z"
            fill="#F9F9F9"
          />
        </svg>
      </a>
      <a href="https://wa.me/5493772462659" target="_blank" >
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="29.4627" height="29.4627" rx="14.7313" fill="#494949"/>
          <path d="M21.1542 7.76094C19.3772 5.97969 17.0107 5 14.4958 5C9.30469 5 5.08058 9.22411 5.08058 14.4152C5.08058 16.0734 5.51317 17.6935 6.33594 19.1228L5 24L9.99174 22.6895C11.3658 23.4402 12.9138 23.8346 14.4915 23.8346H14.4958C19.6826 23.8346 24 19.6105 24 14.4194C24 11.9045 22.9312 9.54219 21.1542 7.76094ZM14.4958 22.2484C13.0877 22.2484 11.7094 21.871 10.5092 21.1585L10.225 20.9888L7.26473 21.765L8.05357 18.8768L7.86696 18.5799C7.08237 17.333 6.67098 15.8953 6.67098 14.4152C6.67098 10.102 10.1826 6.5904 14.5 6.5904C16.5908 6.5904 18.5545 7.40469 20.0304 8.88482C21.5062 10.365 22.4138 12.3286 22.4096 14.4194C22.4096 18.7368 18.8089 22.2484 14.4958 22.2484ZM18.7877 16.3873C18.5545 16.2685 17.3967 15.7002 17.1804 15.6239C16.9641 15.5433 16.8071 15.5051 16.6502 15.7426C16.4933 15.9801 16.0437 16.506 15.9038 16.6672C15.7681 16.8241 15.6281 16.8453 15.3949 16.7266C14.0123 16.0353 13.1047 15.4924 12.1929 13.9275C11.9511 13.5118 12.4346 13.5415 12.8842 12.6424C12.9605 12.4855 12.9223 12.3498 12.8629 12.231C12.8036 12.1123 12.3328 10.9545 12.1377 10.4837C11.9469 10.0257 11.7518 10.0893 11.6076 10.0808C11.4719 10.0723 11.315 10.0723 11.158 10.0723C11.0011 10.0723 10.7467 10.1317 10.5304 10.365C10.3141 10.6025 9.70759 11.1708 9.70759 12.3286C9.70759 13.4864 10.5516 14.606 10.6661 14.7629C10.7848 14.9199 12.3243 17.2949 14.6866 18.317C16.1795 18.9616 16.7647 19.0167 17.5112 18.9065C17.965 18.8386 18.9022 18.3382 19.0973 17.7868C19.2924 17.2355 19.2924 16.7647 19.233 16.6672C19.1779 16.5612 19.021 16.5018 18.7877 16.3873Z" fill="white"/>
        </svg>
          
          
      </a>
      <div class="contacto flex flex-col">
        <h5>Contacto:</h5>
        <a target="_blank" title="Correo electrónico" href="mailto:ventas@sensei.com.ar">ventas@sensei.com.ar</a>
        <a  title="Whatsapp" href="tel:5493794563234" class="flex items-center">
          <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.18757 0H1.66892C1.48838 0 1.19526 0.0731177 0.947316 0.365002C0.699192 0.657081 0 1.36304 0 2.7988C0 4.23457 0.969906 5.62185 1.10508 5.81676C1.24044 6.01148 2.9773 9.05193 5.72817 10.2216C8.01442 11.1936 8.47976 11.0003 8.97583 10.9516C9.47208 10.9031 10.5772 10.2459 10.8027 9.56453C11.0282 8.88321 11.0282 8.29905 10.9606 8.17706C10.8929 8.05545 10.7123 7.98253 10.4418 7.83669C10.1711 7.69065 8.84463 6.97276 8.5965 6.87521C8.34838 6.77805 8.16803 6.72937 7.98749 7.02164C7.80695 7.31333 7.27547 7.9882 7.11752 8.18292C6.95975 8.37784 6.80181 8.40227 6.5311 8.25623C6.26038 8.1098 5.39764 7.79622 4.36376 6.80229C3.55903 6.02869 3.00062 5.04219 2.84267 4.75011C2.68491 4.45822 2.82586 4.30026 2.96158 4.15461C3.0832 4.02401 3.24748 3.84532 3.38283 3.67504C3.51801 3.50456 3.5565 3.38296 3.64686 3.18824C3.73704 2.99352 3.69186 2.82305 3.62427 2.6772C3.5565 2.53116 3.03712 1.08816 2.79641 0.511042H2.79659C2.59382 0.0250242 2.3804 0.00860208 2.18757 0V0Z" fill="#494949"/>
          </svg>
            
          3794563234
        </a>
      </div>
    </div>
    <div class="credito flex flex-col">
      <h5>Crédito Sensei</h5>
      <ul>
        <li>
          <a href="#">Pago con Homebanking</a>
        </li>
        <li>
          <a href="#">Pago con QR</a>
        </li>
        <li>
          <a href="#">Pagos en sucursal</a>
        </li>
      </ul>
    </div>
    <div class="cambios flex flex-col">
      <h5>Cambios y devoluciones</h5>
      <a href="#" class="arrepentimiento">Arrepentimiento de compra</a>
    </div>
    <div
      class="logo-footer flex flex-col items-center my-6 md:my-0 md:flex-row"
    >
      <img src="/arquivos/sensei-footer.png" alt="Sensei" />
    </div>
  </div>
  <div class="footer__medium flex flex-col md:flex-row md:justify-between md:items-start px-16 md:px-2">
    <div class="col newsletter">
        <h5>Newsletter</h5>
        <p>Ingresá tu correo electrónico para recibir nuestras novedades. </p>
        <form action="javascript: sendData('#email-footer');" id="formulario-footer">
            <input
              type="email"
              required="true"
              id="email-footer"
            />
            <button>Enviar</button>
          </form>
    </div>
    <div class="col">
      <h5>Sobre la empresa</h5>
      <ul>
        <li>
          <a href="/nosotros">Sobre Nosotros</a>
        </li>
        <li>
          <a href="#">Nuestras Sucursales</a>
        </li>
        <li>
          <a href="#">Fundamentos Rectores</a>
        </li>
        <li>
          <a href="/nosotros/compromiso">Compromiso Comunidad</a>
        </li>
      </ul>
    </div>
    <div class="col">
      <h5>Categorias</h5>
      <ul>
        <li>
          <a href="/tecnologia">Tecnología</a>
        </li>
        <li>
          <a href="/electrodomesticos">Electrodomésticos</a>
        </li>
        <li>
          <a href="/hogar">Hogar, muebles y jardín</a>
        </li>
        <li>
          <a href="/Deportes-y-Tiempo-Libre">Deportes y tiempo libre</a>
        </li>
        <li>
          <a href="/Accesorios-para-Vehículos">Accesorios para vehículos</a>
        </li>
      </ul>
    </div>
    <div class="col">
      <h5>Recomendados</h5>
      <ul>
        <li>
          <a href="#">Ofertas especiales</a>
        </li>
        <li>
          <a href="#">Promociones con envío gratis</a>
        </li>
        <li>
          <a href="#">Liquidaciones</a>
        </li>
        <li>
          <a href="#">Ofertas en sucursal</a>
        </li>
      </ul>
    </div>
    <div class="col">
      <h5>Ayuda</h5>
      <ul>
        <li>
          <a href="#">Preguntas frecuentes</a>
        </li>
        <li>
          <a href="#">Métodos de Pago</a>
        </li>
        <li>
          <a href="#">Métodos de Envío</a>
        </li>
        <li>
          <a href="#">Guía de Compras</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__bottom flex flex-col md:flex-row md:justify-between px-16 md:px-2 items-center">
      <div class="copyright">
        <p>© 2021 Todos los derechos reservados</p>
      </div>
      <div class="logos flex justify-around items-center">
          <img src="/arquivos/logo-hotsale.png" alt="Hot Sale" class="logo" />
          <img src="/arquivos/logo-innew.png" alt="Innew LA" class="logo" />
          <img src="/arquivos/logo-vtex-pci.png" alt="VTEX PCI" class="logo" />
          <img src="/arquivos/logo-vtex.png" alt="VTEX" class="logo" />
          <img src="/arquivos/logo-cace.png" alt="CACE" class="logo" />


      </div>
  </div>
</footer>
