<link href="/arquivos/tailwind.min.css" rel="stylesheet" />
<link href="/arquivos/swiper-bundle.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

<link href="/arquivos/00--all.css" rel="stylesheet"  />
<link href="/arquivos/00--cart.css" rel="stylesheet"  />

<link href="/arquivos/00--footer.css" rel="stylesheet"  />