body#showcase {
    background: #fafafa;
    font-family: "Myriad Pro Regular";
}

.container__showcase {
    max-width: 1400px;
    margin: auto;
    width: 90%;
}

.row__showcase {
    display: block;
}

.vitrine ul {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    grid-gap: 1%;
}

.vitrine ul li {
    background-color: white;
    box-shadow: 0px 3px 3px #0000002e;
    border-radius: 15px;
    display: block;
    margin-bottom: 20px;
}

.vitrina {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 2px 5px #0000002e;
}

.vitrina__condiciones-pago {
    width: 100%;
}

.vitrina__installment {
    background: linear-gradient(to right, #00E485, #008AD7);
    display: block;
    text-align: center;
    color: white;
    border-radius: 0 0 15px 15px;
    padding: 2px;
    font-size: 15px;
}

.small {
    font-size: 0.7em;
    display: inline-block;
    margin: 0 5px;
}

.nwrap {
    font-size: 1.3em;
    font-weight: bold;
}

.vitrina__installment .nowrap {
    font-size: 1.5em;
    font-weight: bold;
}

.vitrina__product-info {
    text-align: center;
    display: block;
}

.filtros-in {
    background-color: black;
}

.vitrina__product-name {
    text-align: center;
    display: block;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    width: 90%;
    margin: auto;
    height: 50px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.vitrina__product_codigo {
    display: none;
}

.vitrina__descuento {
    height: 43px;
}

.vitrina__banderas {
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.flag.envio-gratis {
    background-color: #066FBB;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    width: 120px;
    float: right;
    padding-left: 7px;
    border-radius: 0 0px 0 15px;
    order: 2;
}

.flag.cuotas-sin-interes {
    margin-left: -30px;
    background-color: #00BB76;
    padding: 0 18px;
    border-radius: 0 15px;
    color: white;
    width: 150px;
}

.vitrina__contenedor-banderas {
    display: block;
    height: 50px;
}

.vitrina__product-image {
    display: block;
    width: 70%;
    margin: auto;
    padding-top: 20px;
}

.vitrina__montos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vitrina__descuento-numero {
    display: none;
    background-color: #FF881B;
    color: white;
    font-weight: 600;
    font-size: 15px;
    width: 55px;
    height: 55px;
    padding: 13px;
    line-height: 1;
    border-radius: 55px 55px 55px 0px;
    position: absolute;
    margin-top: -65px;
    margin-left: 10px;
}

.vitrina, 
.vitrina__descuento-numero.show {
    display: block;
}

.vitrina__contenedor-banderas {
    display: grid;
    grid-template-columns: 2fr 2fr;
    height: 50px;
    margin-bottom: -30px;
}

.vitrina__product-descuentoTotal {
    background-color: #003C67;
    color: white;
    padding: 2px 7px;
    border-radius: 10px 0px;
    width: 60px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    white-space: normal;
    height: 35px;
    display: inline-block;
    line-height: 1.2;
}

.vitrina__product-descuentoTotal.hidden
{
    display: none;
}

.vitrina__descuento-numero.show:after {
    content: "OFF";
    display: block;
}

.precio__tachado {
    color: #ccc;
    text-decoration: line-through;
    display: block;
    font-size: 14px;
    margin-right: 3px;
    margin-left: -7px;
    font-style: italic;
}

.vitrina__product-best-price {
    font-size: 1.3em;
    font-weight: 100;
}

.searchResultsTime, .sub, .pager, .pages .first, .pages .pgEmpty, .pages .last, .menu-navegue {
    display: none;
}

.bread-crumb ul {
    display: flex;
    margin-top: 15px;
}

.bread-crumb li::after {
    content: "/";
    margin: 0 15px;
}

h2.titulo-sessao {
    font-size: 2em;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.filtros-in {
    background-color: #fff;
    display: grid;
    grid-template-columns: 50% 50%;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #0079B5;
    z-index: 99;
}

.colin2 {
    text-align: center;
    font-size: 1.15em;
    color: #103F60;
    font-weight: 100;
}

.colin2:first-child {
    border-right: 2px solid #00000012;
}

@media (min-width: 768px) {
    .container__showcase {
        width: 90%;
    }
    .row__showcase {
        display: grid;
        grid-template-columns: 25% 75%;
        grid-gap: 20px;
        margin-bottom: 70px;
        margin-top: 40px;
    }
    .vitrine ul {
        grid-template-columns: repeat(4, 24%);
    }
    .vitrina__installment {
        font-size: 18px;
    }
    .filtros-in {
        display: none;
    }

.ordenar__showcase {
    display: none;
}
}

@media (max-width: 768px) {
    .bread-crumb {
        margin-bottom: 15px;
    }
    .filtros__showcase {
        background-color: white;
        position: fixed;
        width: 100%;
        bottom: 20px;
        height: 60vh;
        margin-left: -20px;
        padding: 25px;
        box-shadow: 0px -5px 8px #00000025;
        transform: translateY(130%);
        opacity: 100%;
        transition: all 0.5s ease-in-out;
    }
    .filtros__showcase.show {
        transform: translateY(0%);
        opacity: 100%;
        transition: all 0.5s ease-in-out;
    }
    .ordenar__showcase {
        display:block;
        background-color: white;
        position: fixed;
        width: 100%;
        bottom: 40px;
        height: 30vh;
        padding: 25px;
        box-shadow: 0px -5px 8px #00000025;
        transform: translateY(130%);
        opacity: 100%;
        transition: all 0.5s ease-in-out;
        z-index: 90;
    }
    .ordenar__showcase.show {
        transform: translateY(0%);
        opacity: 100%;
        transition: all 0.5s ease-in-out;
    }
    
    #ordenar-content .item-titulo {
        display: block;
        border-bottom: 1px solid;
        padding-bottom: 5px;
        margin-bottom: 5px;
        font-size: 1.3em;
    }
    #ordenar-content ul {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #ordenar-content li {
        padding: 7px;
    }
    .openFiltro.show, .openOrdenar.show {
        border-top: solid 3px #0079B5;
    }
    .openFiltro, .openOrdenar {
        padding: 10px 30px;
        padding-top: 7px;
    }

    .vitrina__product-descuentoTotal {
        border-radius: 10px 0px;
        width: 50px;
        font-size: 12px;
        white-space: normal;
        display: inline-block;
        line-height: 1.2;
    }

    .flag.envio-gratis {
        width: 100px;
        margin-left: 20px;
    }

    .vitrina__descuento-numero {
        font-size: 15px;
    }
}

@media (max-width: 1024px) {
    .precio__tachado {
    font-size: 14px;
    margin-right: 3px;
    margin-left: -7px;
}

.vitrina__product-best-price {
    font-size: 1.3em;
}
}



