body.scroll-down header {
    transform: translate3d(0, -500%, 0);
    transition: all 1s ease-in-out;
}

body.scroll-down header.block {
    transform: translate3d(0, 0%, 0);
}

body.scroll-up header {
    transform: translate3d(0, 0%, 0);
    transition: all .7s ease-in-out;
}

body {
    padding-top: 90px;
}

header {
    background-color: white;
    position: fixed;
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    transition: transform 0.4s;
    box-shadow: 2px 1px 12px #00000059;
    height: 90px;
}

.container__header {
    margin: auto;
    padding-bottom: 10px;
}

.header__top {
    display: none;
}

.header__top-container {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 6px 15px;
}

.header__top-nav {
    display: flex;
    justify-content: space-between;
    max-width: 570px;
}

.header__top-right {
    text-align: right;
}

.header__medium {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.header_button-menu {
    display: none;
}

.header__icons {
    display: flex;
    width: 120px;
    justify-content: space-between;
}

.header__icon-account, .header__icon-shopcart {
    padding: 0 12px;
}

.shopcar__cant {
    position: absolute;
    margin-top: -17px;
    margin-left: 20px;
    padding: 0 7px;
    background-color: #f6b321;
    color: white;
    border-radius: 25px;
    text-align: center;
    font-size: 14px;
}

.header__searchbox {
    width: 50%;
}

.fulltext-search-box {
    width: 100%;
    padding: 4px 40px;
    background: url(/arquivos/zoom_in.png) #EFEFEF no-repeat 5px;
    background-size: 28px;
    font-style: italic;
    color: #999
}

.header__medium-left {
    display: flex;
    width: 200px;
    align-content: center;
    justify-content: space-between;
    padding-left: 15px;
}

/* ocultar elementos buscador  */

.busca legend, .busca label, .busca select, .busca .btn-buscar {
    display: none;
}

@media (min-width:980px) {
    body {
        padding-top: 120px;
    }
    header {
        height: 120px;
    }
    .header__bottom, .header__medium {
        padding: 5px 15px 5px 15px
    }
    .header__top {
        display: block;
        background-color: #0082CA;
        color: #fff;
        font-size: 0.8em;
    }
    .header__medium-left {
        padding-left: 0px;
    }

    .header__top-container a {
        padding: 5px 15px;
    }
    /* MENU DESK */
    .header__bottom {
        display: block;
    }
    .header__bottom-contenedor {
        max-width: 1400px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .destacadas {
        display: flex;
    }
    .destacadas li a {
        padding: 0 25px;
    }
    .header_button-menuDesk svg {
        float: right;
        margin-left: 10px;
        margin-top: 10px;
    }
}

@media (max-width:980px) {
    .header__searchbox {
        width: 100%;
        position: absolute;
        top: 0;
        height: 40px;
    }
    .container__header {
        padding-top: 40px
    }
    .header__icons {
        padding-right: 15px;
    }
    
    .fulltext-search-box {
        padding: 9px 60px;
        background: url(/arquivos/zoom_in.png) #EFEFEF no-repeat 15px;
    }
    .header_button-menu {
        display: block;
        padding: 5px;
    }
    .header__medium {
        max-width: 1400px;
        margin: auto;
        padding: 8px 0px 0px 0px;
        display: flex;
        justify-content: space-between;
    }
}

/* MENU DE CATEGORIAS Y SECUNDARIO  */

.header__menu, .bg__menuabierto {
    display: none;
}

.header__menu.show, .bg__menuabierto.show {
    display: block;
}

.header__menu.show {
    position: fixed;
    background-color: white;
    z-index: 100;
    padding: 20px;
    width: 85%;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: scroll;
}

.header_button-menu.show {
    border: 1px solid #f6b321;
}

.bg__menuabierto.show {
    background-color: #00000085;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 99;
    top: 0;
    left: 0;
}

.bg__menuabierto.show svg {
    position: absolute;
    right: 20px;
    top: 15px;
}

.titulo__menu {
    display: block;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    box-shadow: 0px 2px 5px #0000001c;
}

.menu__categorias li a {
    border-bottom: 1px solid #ddd;
    display: block;
    padding: 10px 5px;
    font-weight: 600;
    background: url(/arquivos/chevron_left.png) no-repeat 99%;
    background-size: 10px;
    max-width: 270px;
}

.menu__secundario {
    border-top: 1px solid #0000ff42;
    margin-top: 20px;
    padding: 40px 20px;
}

.menu__secundario li a {
    font-size: 0.9em;
    margin-bottom: 10px;
    display: block;
}

.menu__categorias li a.nolinia {
    border-bottom: none;
}

.menu__secundario li svg {
    float: left;
    margin-right: 12px;
}

.noScroll {
    overflow: hidden;
}

.submenu__categorias {
    display: none;
}



.subcat__titulo-desk {
    text-align: center;
}

.subcat__titulo-desk b {
    display: block;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.subcat__titulo-desk {
    text-align: center;
    display: block;
}

.subcat__titulo-desk svg {
    float: left;
    margin-top: 5px;
}

.ui-autocomplete.ui-menu.ui-widget {
    background-color: white;
    padding: 20px;
    width: 100% !important;
    position: absolute !important;
}

.ui-menu-item a {
    display: flex;
    margin-bottom: 15px;
    padding: 7px;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.ui-corner-all img {
    margin-right: 20px;
    width: 55px;
}

.verTodo {
    background-image: none !important;
    font-size: 15px;
    font-weight: 100 !important;
    border-bottom: none !important;
}

.titulo_menuTercerNivel {
    font-weight: 600;
    margin-top: 10px;
    color: #0079b5;
}

ul.menu_tercerNivel {
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.menu_tercerNivel li a {
    display: block;
    padding: 8px 0 !important;
    font-weight: 100;
}

@media (min-width:980px) {
    .header__menu.show {
        width: 100%;
        top: 120px;
        height: auto;
        position: absolute;
        box-shadow: 0px 2px 5px #00000040;
        overflow-y: auto;
    }
    .header__menu-container {
        max-width: 1400px;
        margin: auto;
    }
    .titulo__menu, .menu__secundario {
        display: none;
    }
    .header_button-menuDesk {
        cursor: pointer;
    }
    .submenu__categorias {
        display: none;
    }
    .menu__categorias li:hover>.submenu__categorias {
        position: absolute;
        top: 15%;
        left: 0;
        margin-left: 30%;
        width: 800px;
        column-count: 3;
        column-gap: 1em;
        display: block;
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-gap: 15px;
        color: #555;
        padding-top: 20px;
    }

    .menu__categorias li a.primer {
        display: block;
        padding: 10px 5px;
        font-weight: 600;
        background-size: 10px;
        max-width: 270px;
        border-right: 2px solid #0079B5;
        background: url();
        border-bottom: none;
    }
    
    .menu__categorias li a.primer:hover {
        border-right: 6px solid #0079B5;
    }

     .menu__categorias li:hover>a.primer {
   border-right: 6px solid #0079B5;
    }
    
    span.lineaLink {
        margin-right: 10px;
    }

    .subcat__titulo-desk {
        display: block;
        position: absolute;
        margin-top: -45px;
        font-size: 1.2em;
        border-bottom: 1px solid;
        width: 100%;
        padding-bottom: 10px;
    }
    .submenu__categorias li a {
        padding: 0;
        background-image: none;
        border-bottom: none;
        margin-bottom: -10px;
        font-weight: 100;
        font-size: 0.95em;
    }
    .header-navbar-submenu__item-tittle svg {
        display: none;
    }
    .bg__menuabierto.show {
        background-color: #00000021;
        top: 150px;
    }
    .ui-autocomplete.ui-menu.ui-widget {
        width: 100% !important;
        max-width: 500px !important;
    }
}

.ui-autocomplete.ui-menu.ui-widget {
    box-shadow: 0px 4px 10px #0000002e;
}

@media (min-width:1400px) {
    .menu__categorias li:hover>.submenu__categorias {
        margin-left: 35%;
    }

    .ui-autocomplete.ui-menu.ui-widget {
    width: 100% !important;
    max-width: 680px !important;
}
}

@media (max-width:1200px) {
    .destacadas li a {
    padding: 7px 11px;
    font-size: 0.9em;
}

.header_button-menuDesk {
    font-size: 0.9em;
    padding: 3px 10px;
}

.header__top-container a {
    padding: 5px;
    font-size: 0.9em
}
}


@media (min-width:980px){
    
.header_button-menuDesk:hover>.header__menu {
    display: block;
    background-color: white;
    width: 100%;
    position: absolute;
    left: 0;
    padding: 25px;
    box-shadow: 0px 5px 5px #0000001c;
    border-top: 1px solid #f6b525;
    height: 400px;
    overflow: auto;
}

.subcat__titulo-desk svg {
   display: none;
}

.subcat__titulo-desk {
   display: flex;
   align-items: center;
   font-size: 17px;
}

.subcat__titulo-desk b {
    border-bottom: none;
    padding-bottom: 0px;
    margin-right:5px;
    margin-right: 6px;
    font-size: 1.3em;
    color: #0079b5;
}

.menu__categorias li a {
    border-bottom: 0px;
    padding: 5px;
    background: url();
}


}

@media (max-width:980px){
    .hideMobile, .lineaLink {
        display:none;
    }
   
   .header_button-menuDesk:hover>.header__menu {
    width: 85%;
    top: 0;
}

.submenu__categorias.show {
    display: block;
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    height: 100vh;
    overflow-y: scroll;
}
}

   @media (max-width:768px){
    .menu__categorias li a {
        max-width: 100%;
    }
   }