* {
  font-family: "Myriad Pro Regular";
}
#busqueda-vacia-page {
  background-color: #fafafa;
}

.busqueda-vacia {
  margin-top: 5vh;
}
.busqueda-vacia__mensaje-section {
  display: flex;
  justify-content: center;
}
.busqueda-vacia__mensaje-section .contenedor {
  background-color: #fff;
  width: 95%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-box-shadow: 10px 10px 5px -6px rgba(230, 230, 230, 1);
  -moz-box-shadow: 10px 10px 5px -6px rgba(230, 230, 230, 1);
  box-shadow: 10px 10px 5px -6px rgba(230, 230, 230, 1);
  color: #5d5f64;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  align-items: center;
}
.busqueda-vacia__mensaje-section .contenedor svg {
  width: 34%;
}
.busqueda-vacia__mensaje-section .contenedor .texto {
  width: 62%;
}
.busqueda-vacia__mensaje-section .contenedor .texto strong{
  display: block;
}

.busqueda-vacia__mensaje-section a {
  color: #006bb4;
}
.busqueda-vacia__mensaje-section .btn_contacto{
  color: #fff;
  background-color: #41BAEC;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}
.btn_contacto.desk {
  display: none;
}
.busqueda-vacia__mensaje-section .contenedor {
  width: 90%;
}

.titulo {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.titulo h2,
.titulo h3 {
  font-size: 16px !important;
  font-weight: 600;
  margin-left: 0.5rem;
  text-align: left;
  color: #006bb4;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.carrusel-categorias {
  padding: 1rem;
  margin: 0;
}
.carrusel-productos .carrusel-prod h2 {
  margin-bottom: 2rem;
}
.carrusel-prod .titulo-carrusel {
  font-size: 17px;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}
.carrusel-categorias .titulo-carrusel{
  font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: 0.5rem 1rem;
    color: #006bb4;
    font-size: 17px;
    margin-bottom: 1rem;
  
}

@media (min-width: 660px) and (max-width: 765px) {
  .busqueda-vacia {
    padding: 15vh 0;
  }
}

@media (min-width: 768px) {
  .busqueda-vacia {
    margin-top: 20vh;
    width: 90%;
    margin: auto;
  }
  .busqueda-vacia__mensaje-section {
    padding: 4rem 0;
  }
  .busqueda-vacia__mensaje-section .contenedor{
    width: 90%;
    padding: 1rem;
    justify-content: center;
  }
  .busqueda-vacia__mensaje-section .contenedor svg{
    width: 26%;
  }
  .busqueda-vacia__mensaje-section .texto{
    font-size: 28px;
    padding-left: 1rem;
  }
  .busqueda-vacia__mensaje-section .btn_contacto{
    width: 103%;
  }

  .titulo {
    justify-content: flex-start;
    margin-bottom: 2rem;
  }
  h1 {
    font-size: 22px !important;
    margin-bottom: 1rem;
  }
  .titulo h2,
  .titulo h3 {
    font-size: 25px !important;
  }
  .carrusel-productos .carrusel-prod h2 {
    padding-left: 0;
  }
  .btn_contacto.desk {
    display: block;
    font-size: 18px;
  }
  .btn_contacto.mobile {
    display: none;
  }
}
.busqueda-vacia .carrusel-prod h2{
  display: block !important;
}
