/*-------------------------------------------*\
  Carrito
\*-------------------------------------------*/

.v-cart{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1010;
  height: 100vh;
  width: 100%;
  display: flex;
  transform: translateX(100%);
  transition: all 0.3s;
}
.v-cart.show{
  transform: translateX(0);
}
  .v-cart__overlay {
    background: rgba(40, 41, 43, 0.81);
    width: 20%;
    height: 100%;
    cursor: pointer;
  }
  .v-cart__info {
    width: 80%;
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
    .v-cart__header{
      background-color: #0067B2;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem;
      color: #fff;
      font-size: 1rem;
      cursor: pointer;
    }
    .v-cart__body{
      height: calc(100% - 50px);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
    }
      .v-cart__empty{
        text-align: center;
        color: #646464;   
      }
        .v-cart__empty img{
          margin-bottom: 1rem;
        }

      .v-cart__summary{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
      }

        .v-cart__items{
          max-height: 65%;
          height: 65%;
          overflow-y: auto;
        }
        .v-cart__items::-webkit-scrollbar-track {
          background-color: #F4F4F4;
        }
        .v-cart__items::-webkit-scrollbar {
          width: 7px;
          background: #F4F4F4;
        }
        .v-cart__items::-webkit-scrollbar-thumb {
          background: #dad7d7;
        }

          .v-cart__item{
            display: flex;
            width: 100%;
            justify-content: space-between;
            border-bottom: .2px solid #bfbfbf;
            margin-bottom: 3.5vw;
          }
          .v-cart__item.invalid{
            border: 1px solid #fba710;
          }
            .v-cart__item--img{
              width: 27%;
              padding: .5rem 0;
            }
              .v-cart__item--img img{
                width: 100%;
                height: auto;
              }

            .v-cart__item--data{
              width: 69%;
              position: relative;
            }
              .v-cart__item--data-content{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
              }
                .v-cart__item--name{
                  color: #272727;
                  font-size: 3.4vw;
                  font-weight: bold;
                  text-overflow: ellipsis;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  display: -webkit-box;
                  overflow: hidden;
                  width: 80%;
                }

                .v-cart__item--values{
                  display: flex;
                  width: 100%;
                  justify-content: space-between;
                  align-items: flex-end;
                  padding-top: 5%;
                  padding-bottom: .3rem;
                }
                  .v-cart__item--qt{
                    font-size: 3.5vw;
                    display: flex;
                    align-items: center;
                    color: #353535;
                  }
                    .v-cart__item--qt span{
                      background-color: #0067B2;
                      color: #fff;
                      padding: 3% 5% 0;
                      margin-left: 5px;
                      line-height: 4.5vw;
                    }

                .v-cart__item--price{
                  /* padding-bottom: .3rem; */
                  text-align: right;
                }

                  .v-cart__item--best-price{
                    color: #0067B2;
                    font-weight: bold;
                    font-size: 4vw;
                    line-height: 4vw;
                  }
                  .v-cart__item--list-price{
                    color: #757575;
                    text-decoration: line-through;
                    font-size: 3.5vw;
                    line-height: 6vw;
                  }

              .v-cart__item--info{
                border-left: 1px solid #fba710;
                background-color: #fff2db;
                color: #fba710;
                padding: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                height: 100%;
                font-size: 3.5vw;
              }
                .v-cart__item--info > div{
                  width: 80%;
                  padding-left: .3rem;
                }

              .v-cart__item--delete{
                position: absolute;
                top: 0%;
                right: 0;
                padding: 1vw 2vw;
              }

        .v-cart__summary-montos{
          height: 100%;
          padding-top: 1rem;
        }
          .v-cart__content-montos{
            width: 88%;
            margin: auto;
          }
            .v-cart__montos{
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 1.5vw;
              color: #646464;
              font-size: 3.5vw;
            }

          .v-cart__end{
            width: 75%;
            margin: auto;
          }
            .v-cart__end--total{
              color: #0067B2;
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-size: 7vw;
              margin: 6vw 0;
            }
            .v-cart__end--finalizar-pedido{
              background-color: #41BAEC;
              color: #fff;
              width: 100%;
              display: block;
              text-align: center;
              padding: 0.5rem;
              font-size: 4.5vw;
            }


/* Version Mobile Horizontal */
@media (min-width: 640px) {

}

/* Version Tablet */
@media (min-width: 768px) {

}

/* Version Laptop */
@media (min-width: 1024px) {

  .v-cart__overlay {
    width: 75%;
  }
  .v-cart__info {
    width: 25%;
  }
    .v-cart__empty img{
      margin-bottom: 2rem;
    }


    .v-cart__item{
      margin-bottom: 1rem;
    }
       
      .v-cart__item--name{
        font-size: 1rem;
      }

      .v-cart__item--values{
        padding-top: 5%;
        padding-bottom: .3rem;
      }
        .v-cart__item--qt{
          font-size: 1rem;
        }
          .v-cart__item--qt span{
            line-height: 1rem;
          }

        .v-cart__item--best-price{
          font-size: 1rem;
          line-height: 1.3rem;
        }
        .v-cart__item--list-price{
          font-size: .8rem;
          line-height: 1rem;
        }

      .v-cart__item--info{
        font-size: .9rem;
      }

      .v-cart__item--delete{
        bottom: 5%;
        padding: .5rem;
      }


      .v-cart__montos{
        margin-bottom: .3rem;
        font-size: 1rem;
      }

      .v-cart__end--total{
        font-size: 1.5rem;
        margin: 2rem 0;
      }
      .v-cart__end--finalizar-pedido{
        padding: 0.5rem;
        font-size: 1rem;
      }

}

.header__icon-shopcart--open{
  cursor: pointer;
}

/*-------------------------------------------*\
  Loading
\*-------------------------------------------*/

.v-loading{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fbfbfb8f;
  z-index: 1005;
  display: flex;
  align-items: center;
  justify-content: center;
}
.v-loading__spinner{
  display: block;
  width: 50px;
  height: 50px;
  background: transparent;
  box-sizing: border-box;
  border: 10px solid transparent;
  border-top: 10px solid #0067B2;
  border-radius: 100%;
  animation: spin 0.6s ease-out infinite;
}

@keyframes spin {
  100% {transform: rotate(360deg)}
}
