/*-------------------------------------------*\
   General
\*-------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Ubuntu:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Myriad Pro Regular";
}
.page {
  max-width: 1440px;
  background-color: #fafafa;
}
@media (min-width: 1024px){
  .page {
    background-color: #fff;
  }

}
@media (min-width: 1440px) {
  .page {
    margin: 0 auto;
  }
}
/*-------------------------------------------*\
 Slider Principal
\*-------------------------------------------*/
.slider-principal-desktop {
  display: none;
}

.slider-principal .swiper-pagination-bullet-active {
  background: #fff;
}
.slider-principal .swiper-button-prev,
.slider-principal .swiper-button-next {
  display: none;
}

@media (min-width: 414px) {
  .slider-principal-mobile {
    display: none;
  }
  .slider-principal-desktop {
    display: block;
  }
}

/*-------------------------------------------*\
    Refuerzos de confianza
\*-------------------------------------------*/
.items-section {
  padding-top: 1rem;
}

.items-section .swiper-container {
  width: 100%;
  height: 49px;
}
.items .swiper-slide {
  width: 70%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
}

.items .swiper-slide p {
  color: #3d4246;
  margin-left: 0.8rem;
  font-size: 3vw;
  width: 80%;
  border-right: 1px solid #c4c4c4;
}
.items .swiper-slide:last-child p {
  border-right: none;
}

@media (min-width: 600px) {
  .items .swiper-slide img {
    width: auto;
  }

  .items .swiper-slide {
    width: 42%;
  }
}
@media (min-width: 800px) {
  
  .items-section {
    margin-top: 0;
  }

  .items-section .swiper-container {
    width: 95%;
  }
  .items-section.swiper-wrapper {
    justify-content: space-between;
  }
  .items .swiper-slide {
    width: 20%;
    padding: 1rem;
  }
  .items .swiper-slide:nth-child(2),
  .items .swiper-slide:nth-child(3) {
    width: 29%;
  }
  .items .swiper-slide img {
    width: auto;
  }

  .items .swiper-slide p {
    font-size: 0.7rem;
  }
}

/*-------------------------------------------*\
    Carrusel 
\*-------------------------------------------*/
.carrusel-ofertas {
  display: flex;
  flex-direction: column;
}
.carrusel-prod .box-banner:nth-child(2) {
  display: none;
}

.carrusel-prod .titulo-carrusel {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #006bb4;
  font-size: 18px;
}
.carrusel-prod h2 {
  margin: 1rem 0;
  padding: 0.5rem;
}
.vitrina__product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vitrina__product-info-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vitrina__comprar {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  margin-top: 1rem;
  color: #fff;
  background: #494949;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}
.swiper-button-prev {
  background-image: url(/arquivos/chevron_left.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;
}
.swiper-button-next {
  background-image: url(/arquivos/chevron_right.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;

}
@media (max-width: 600px) {
  .carrusel-prod .swiper-container {
    width: 95%;
    padding-bottom: 5rem;
  }
  .carrusel-prod .swiper-button-next {
    position: absolute;
    top: 27rem;
    right: 38%;
  }
  .carrusel-prod .swiper-button-prev {
    position: absolute;
    top: 27rem;
    left: 38%;
  }
}

@media (min-width: 768px) {
  .contenedor {
    width: 90%;
    margin: 0 auto;
  }
  .carrusel-ofertas {
    flex-direction: row;
    align-items: center;
  }
  .carrusel-ofertas .redirect {
    width: 20%;
  }
  .carrusel-ofertas .swiper-container {
    width: 80%;
  }
  .carrusel-prod .box-banner:nth-child(1) {
    display: none;
  }
  .carrusel-prod .box-banner:nth-child(2) {
    display: block;
  }
  .carrusel-ofertas .titulo-carrusel {
    display: none;
  }
  .swiper-button-prev,
  .swiper-button-next {
    height: 90%;
    position: absolute;
    top: 2rem;
  }

}
@media (min-width: 1024px){
  .carrusel-prod h2 {
    display: none;
  }
}

/*-------------------------------------------*\
    Carrusel Categorías
\*-------------------------------------------*/
.carrusel-categorias .swiper-container {
  width: 95%;
}
.carrusel-categorias .swiper-wrapper {
  align-items: center;
}
.carrusel-categorias .swiper-pagination {
  width: 95%;
}
.carrusel-categorias .swiper-slide {
  width: 102px !important;
}
.carrusel-categorias .swiper-pagination {
  display: none;
}
.carrusel-categorias .swiper-button-prev,
.carrusel-categorias .swiper-button-next {
  display: none;
}
@media (min-width: 768px) {
  .carrusel-categorias .swiper-pagination {
    width: 90%;
  }
  .carrusel-categorias .swiper-container {
    padding: 0 2.9rem;
    width: 90%;
  }
  .carrusel-categorias .swiper-slide {
    width: 145px !important;
    margin-right: 20px !important;
  }
  .carrusel-categorias .swiper-button-prev,
  .carrusel-categorias .swiper-button-next {
    display: block;
    top: 2rem;
  }
}
/*-------------------------------------------*\
    Banners con texto
\*-------------------------------------------*/
.banners {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.banners article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.banners .box-banner {
  width: 100%;
}
.banners .box-banner img {
  width: 100%;
}
.texto-banner {
  padding: 1rem 0.5rem;
  box-sizing: border-box;
  width: 100%;
}
.texto-banner h3 {
  font-weight: 600;
  color: #28292b;
  font-size: 15px;
}
.texto-banner p {
  color: #3d4246;
  font-size: 12px;
}
@media (min-width: 800px) {
  .banners {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 1rem;
  }
  .banners article {
    width: 32%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-box-shadow: 10px 10px 5px -7px rgba(232, 232, 232, 1);
    -moz-box-shadow: 10px 10px 5px -7px rgba(232, 232, 232, 1);
    box-shadow: 10px 10px 5px -7px rgba(232, 232, 232, 1);
}
.banners article img{
  border-radius: 15px 15px 0 0;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
}
 
}
/*-------------------------------------------*\
    Banners imágenes
\*-------------------------------------------*/
.banners-imagenes .contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.banners-imagenes .box-banner {
  width: 100%;
}
@media (min-width: 600px) {
  .banners-imagenes .box-banner {
    width: auto;
  }
}
@media (min-width: 800px) {
  .banners-imagenes {
    padding: 2rem 1rem;
  }
  .banners-imagenes .contenedor {
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .banners-imagenes .box-banner {
    width: 48%;
    display: flex;
    justify-content: center;
  }
}
/*-------------------------------------------*\
    Banners promociones
\*-------------------------------------------*/
.banners-promociones {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banners-promociones .contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 85%;
}
.banners-promociones .contenedor .box-banner{
  -webkit-box-shadow: 0px 3px 5px 0px rgba(229,229,229,1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(229,229,229,1);
  box-shadow: 0px 3px 5px 0px rgba(229,229,229,1);
}
@media (min-width: 600px) {
  .banners-promociones .contenedor {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 800px) {
  .banners-promociones .contenedor {
    width: 75%;
    justify-content: space-around;
  }

  .banners-promociones .box-banner {
    width: 30%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.banners-promociones .box-banner img{
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
}

/*-------------------------------------------*\
    Newsletter
\*-------------------------------------------*/
.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}
.newsletter-contenido {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem 1rem;
  background: url(/arquivos/newsletter-background-mobile.png) no-repeat ;
  background-size: cover;
}
.newsletter-contenido h4 {
  color: #fff;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  margin-bottom: 2rem;
}
.newsletter form {
  width: 90%;
  display: flex;
}
.newsletter input#email {
  border: 1px solid #c4c4c4;
  width: 75%;
  padding: 0.2rem;
  font-size: 14px;
}
.newsletter-contenido button {
  width: 25%;
  color: #fff;
  background: #FFB71B;
  padding: 0.5rem;
  font-family: inherit;
}
.alert-success {
  background-color: rgba(141, 212, 248, 0.48);
  color: #0079b5;
  font-weight: 500;
  border-left: 2px solid #0079b5;
  padding: 0.5rem;
  margin-top: 1rem;
}
.alert-success-footer {
  background-color: rgba(141, 212, 248, 0.48);
  color: #0079b5;
  font-weight: 500;
  border-left: 2px solid #0079b5;
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: 11px;
  width: 90%;
}
@media (min-width: 800px) {
  .newsletter-contenido {
  background: url(/arquivos/newsletter-background.png) no-repeat ;
  background-size: cover;
    width: 91%;
    padding: 3rem;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
  .newsletter form {
    width: 60%;
  }
  .newsletter input#email {
    font-size: 1rem;
  }
}
