/*-------------------------------------------*\
  GENERALES
\*-------------------------------------------*/
#product-page {
  font-family: "Myriad Pro Regular";
}
.container {
  max-width: 667px;
}

@media (min-width: 768px) {
  .container {
    width: 85%;
    margin: 0 auto;
    max-width: 1920px;
  }
}
@media (min-width: 1024px) {
  #product-page {
    background: #fafafa;
  }
  .container {
    width: 90%;
    padding: 1rem 2rem;
    background: #fff;
  }
  .container.carruseles {
    background: #fafafa;
  }
}

/*-------------------------------------------*\
  BREADCRUMB
\*-------------------------------------------*/
.bread-crumb {
  display: none !important;
}
@media (min-width: 768px) {
  .bread-crumb {
    display: block !important;
  }

  .bread-crumb > ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 0;
    align-items: center;
  }
  .bread-crumb li {
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    color: #4b4b4b;
    font-size: 14px;
  }
  .bread-crumb li:last-child {
    color: #28292b;
    font-weight: 600;
  }
  .bread-crumb li:not(:last-child):after {
    content: "/";
    padding-left: 0.5rem;
    font-size: 12px;
    color: #4b4b4b;
  }

  .bread-crumb li:first-child a {
    font-size: 0;
    display: flex;
    align-items: center;
  }
  .bread-crumb li:first-child a:after {
    font-size: 14px;
    content: "Todas las categorías";
  }

  .bread-crumb .busca-texto-livre-elimina {
    display: none;
  }
}

/*-------------------------------------------*\
  IMAGEN PRINCIPAL
\*-------------------------------------------*/

.product__principal {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product__image {
  width: 100%;
  background: #fff;
  padding: 0.5rem;
}

.product__thumbs {
  display: none;
}
.cant-fotos {
  text-align: center;
  border: 1px solid;
  border-image: linear-gradient(45deg, #00e485, #008ad7) 10;
  padding: 0.3rem 0.5rem;
  color: #747474;
  width: 90px;
  z-index: 2;
}

/* Version Mobile Horizontal */
@media (min-width: 640px) {
}

/* Version Tablet */

/* Version Laptop */
@media (min-width: 1024px) {
  .product__principal {
    justify-content: space-between;
  }
  .product__image {
    width: 62%;
    display: flex;
    flex-direction: row-reverse;
    max-height: 580px;
    justify-content: space-between;
    padding: 0;
  }
  .product__image .swiper-slide {
    -webkit-box-shadow: 10px 10px 5px -8px rgba(231, 231, 231, 1);
    -moz-box-shadow: 10px 10px 5px -8px rgba(231, 231, 231, 1);
    box-shadow: 10px 10px 5px -8px rgba(231, 231, 231, 1);
  }
  .product__gallery .swiper-slide,
  .product__gallery .swiper-slide img {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    width: 90%;
  }

  .product__gallery .swiper-button-prev,
  .product__gallery .swiper-button-next {
    top: 49%;
  }
  .product__gallery .swiper-button-next {
    right: 18px;
  }
  .product__gallery .swiper-button-prev {
    left: 18px;
  }
  .product__thumbs {
    width: 17%;
    padding: 0 0.2rem;
    display: block;
  }
  .product__thumbs .swiper-slide {
    padding: 5px;
    display: flex;
    align-items: center;
    height: auto !important;
    background: #fff;
  }

  .product__thumbs .swiper-slide {
    width: 100% !important;
  }

  .product__gallery {
    width: 100%;
    padding-bottom: 2rem;
  }
  .product__gallery .swiper-slide {
    display: flex;
    align-items: center;
    width: 90%;
    -webkit-box-shadow: 10px 10px 5px -8px rgba(231, 231, 231, 1);
    -moz-box-shadow: 10px 10px 5px -8px rgba(231, 231, 231, 1);
    box-shadow: 10px 10px 5px -8px rgba(231, 231, 231, 1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .product__gallery .magnify {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cant-fotos {
    position: absolute;
    bottom: 37px;
    right: 50px;
  }
}
@media (max-width: 768px) {
  .product__gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*-------------------------------------------*\
    INFORMACIÓN DE PRODUCTO
\*-------------------------------------------*/
.product__info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.product__info .productName {
  color: #404042;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.product__info .codproduto {
  font-weight: 400;
  color: #666666;
  font-size: 12px;
  margin-top: 1rem;
  display: flex;
}
.product__info .brandName {
  color: #0067b2;
  font-size: 12px;
  font-weight: 500;
}
/*-------------------------------------------*\
 PRECIO
\*-------------------------------------------*/
.productPrice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
}
.precio-fixed-mobile #skuBestPrice {
  position: relative;
  bottom: 25px;
}
.product__info .price-box {
  width: 100%;
  margin-top: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.product__info .price-box .flags {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 14px;
}

.product__info .descricao-preco {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.preco-a-vista {
  font-size: 0;
}
.skuBestPrice {
  color: #28292b;
  font-weight: 600;
  font-style: initial;
}
.valor-por,
.valor-de,
.economia-de {
  font-size: 0;
}
.valor-de strong {
  font-size: 26px;
  text-decoration: line-through;
  color: #757575;
  font-weight: 500;
}

.valor-por strong {
  font-size: 36px;
}
.economia-de {
  height: 63px;
  display: none;
  flex-direction: column;
  font-style: normal;
}

.economia-de .economia {
  display: none;
  font-size: 14px;
  color: #fff;
  background: #00bb76;
  padding: 0.4rem;
  position: relative;
  align-items: center;
  position: relative;
  border-radius: 0 10px 0 10px;
  -webkit-border-radius: 0 10px 0 10px;
  -moz-border-radius: 0 10px 0 10px;
  -ms-border-radius: 0 10px 0 10px;
  -o-border-radius: 0 10px 0 10px;
}
.economia-de .valor-desc {
  display: none;
  font-size: 14px;
  color: #fff;
  background: #066fbb;
  padding: 0.4rem;
  width: fit-content;
  border-radius: 0 0 0 10px;
  -webkit-border-radius: 0 0 0 10px;
  -moz-border-radius: 0 0 0 10px;
  -ms-border-radius: 0 0 0 10px;
  -o-border-radius: 0 0 0 10px;
  position: absolute;
  bottom: 10%;
  right: 6px;
}
.skuPerc {
  font-weight: 400;
  font-style: normal;
}
.economia-de .economia:before {
  content: "Ahorrá";
  margin-right: 0.2rem;
  font-family: "Myriad Pro Light";
}
.precio-fixed-mobile .price-installments {
  display: block !important;
  color: #fff;
  padding-bottom: 2rem;
  position: relative;
  background-color: #00e485;
  background-image: linear-gradient(90deg, #00e485 0%, #008ad7 100%);
  font-style: initial;
}
.precio-fixed-mobile .skuBestInstallmentValue {
  font-size: 20px;
}
.precio-fixed-mobile .price-installments span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.precio-fixed-mobile .price-installments span span {
  order: 2;
  flex-direction: row;
  font-size: 0;
}
.skuBestInstallmentNumber {
  display: flex;
  font-size: 14px;
  font-family: "Myriad Pro Bold";
}
.precio-fixed-mobile .skuBestPrice {
  position: relative;
  bottom: 15px;
}
.valor-dividido.price-installments > span {
  top: 10px;
}
.precio-fixed-mobile .skuListPrice,
.precio-fixed-mobile .price-installments span {
  position: relative;
}
span.x {
  font-size: 0;
}
span.x:after {
  font-size: 12px;
  content: "CUOTAS SIN INTERÉS";
  margin-left: 0.2rem;
  font-family: "Myriad Pro Bold";
}
.price-installments {
  display: none !important;
  grid-column: 1;
  grid-row: 1/3;
}
.product__info-container-interno {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inactivo {
  opacity: 0.5;
  height: 57px;
}
.product__mensaje {
  position: fixed;
  z-index: 2;
  background: #dcf3ff;
  color: #009ce9;
  font-weight: 500;
  bottom: 7rem;
}
.btn-agregar-al-carrito {
  outline: none;
}

.loader {
  display: none;
  width: 30px;
  height: 30px;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #4bb6fd;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.loader-activo {
  display: block;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*FLAGS*/
@media (max-width: 1024px) {
  .product__info .price-box .flags {
    margin-top: 1rem;
    width: 81%;
  }
  .product__info .price-box .flags .flag {
    padding: 4px 18px;
  }
  .product__info .price-box  .flag.envio-gratis {
    width: 125px;
    position: relative;
    right: 12px;
  }
  .product__info .price-box .flag.cuotas-sin-interes{
    width: 158px;
  }
}

@media (min-width: 1024px) {
  .product__info-container {
    width: 36%;
    margin-top: 0;
  }
  .product__info {
    border: double 1px transparent;
    background-image: linear-gradient(white, white),
      radial-gradient(
        circle at top left,
        rgba(0, 228, 133, 1),
        rgba(0, 138, 215, 1)
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: 0;
    position: relative;
    width: 100%;
  }
  .product__info .marca {
    order: 1;
  }
  .product__info-container-interno {
    padding: 1rem;
  }
  .product__info .codproduto {
    order: 2;
    margin-top: 0;

    width: 100%;
  }
  .product__info .marca {
    align-self: flex-start;
  }
  .product__info .name {
    order: 3;
    width: 100%;
  }
  .product__info .productName {
    font-size: 24px;
    text-align: left;
    margin-top: 1rem;
  }

  .productPrice {
    justify-content: space-around;
  }
  .product__info .descricao-preco {
    align-items: flex-start;
  }
  .product__info .price-box {
    order: 3;
    height: 25vh;
    margin-top: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .product__info .price-box .flag.cuotas-sin-interes {
    width: 157px;
  }
  .product__info .price-box .flag {
    padding: 4px 18px;
  }

  .valor-de strong {
    font-size: 20px;
  }
  .product__mensaje {
    position: static;
    margin-top: 1rem;
  }
  .product__financing {
    order: 5;
  }
}

/*-------------------------------------------*\
    AGREGAR AL CARRITO
\*-------------------------------------------*/
.agregar-al-carrito {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 2;
  left: 0;
}
.btn-agregar-al-carrito {
  width: 100%;
  background: #41baec;
  border: 2px solid #41baec;
  order: 6;
  padding: 0.5rem;
  border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  z-index: 2;
  position: relative;
}
.precio-fixed-mobile .economia-de {
  display: none;
}
.precio-fixed-mobile {
  display: flex;
}
.precio-fixed-mobile .price-box {
  width: 100%;
}
.precio-fixed-mobile .valor-de strong {
  font-size: 15px;
}
.precio-fixed-mobile .descricao-preco {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  padding-bottom: 0.5rem;
  position: relative;
  top: 14px;
  z-index: 1;
  text-align: center;
  background: #fff;
}
.precio-fixed-mobile .valor-de.price-list-price {
  grid-column: 2;
  grid-row: 1;
}
.precio-fixed-mobile .valor-por.price-best-price {
  grid-column: 2;
  grid-row: 2;
}

.precio-fixed-mobile .valor-por strong {
  font-size: 20px;
}

@media (min-width: 1024px) {
  .precio-fixed-mobile {
    display: none;
  }
  .agregar-al-carrito {
    position: absolute;
  }
  .btn-agregar-al-carrito {
    border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -ms-border-radius: 0 0 20px 20px;
    -o-border-radius: 0 0 20px 20px;
    position: static;
  }
}

/*-------------------------------------------*\
  FINANCIACION
\*-------------------------------------------*/

.product__financing {
  border: 1px solid #d9d9d9;
  order: 3;
  width: 90%;
  margin-top: 2rem;
}

.product__financing--title {
  background-color: #f4f4f4;
  color: #28292b;
  text-align: center;
  padding: 1rem 0;
  font-size: 3.7vw;
}

.product__financing--bests {
  display: flex;
}

.product__financing--item {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.product__financing--item:first-child {
  border-right: 1px solid #d9d9d9;
}

.product__financing--img {
  width: 35%;
}
.product__financing--quota-value {
  width: 80%;
  font-size: 2.8vw;
  color: #28292b;
}
.product__financing--value {
  color: #009ce9;
}
.product__financing--cards-icons {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  padding: 0.5rem;
}

.product__financing--openmodal {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0f64a8;
  font-size: 3vw;
  font-style: italic;
  padding: 1rem;
}
.product__financing--openmodal svg {
  margin-right: 0.5rem;
}

/* Version Mobile Horizontal */
@media (min-width: 640px) {
}

/* Version Tablet */
@media (min-width: 768px) {
}

/* Version Laptop */
@media (min-width: 1024px) {
  .product__financing {
    margin-bottom: 4rem;
  }
  .product__financing--title {
    padding: 0.4rem 0;
    font-size: 0.9rem;
  }

  .product__financing--img {
    width: 30%;
  }
  .product__financing--quota-value {
    width: 80%;
    font-size: 0.8vw;
  }

  .product__financing--openmodal {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  .product__financing--openmodal svg {
    margin-right: 0.5rem;
  }
}

/*-------------------------------------------*\
  Opciones de Shipping
\*-------------------------------------------*/

.product__shipping {
  padding: 0 10vw;
  margin-top: 10vw;
  width: 98%;
}

.product__shipping--opc {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vw 4vw;
  margin-bottom: 4vw;
  border: 1px solid;
  border-image: linear-gradient(45deg, #008ad7, #00e485) 10;
}
.product__shipping--opc .desktop-icon {
  display: none;
}
.shipping-opc_desk,
.pickup-opc_desk {
  display: none;
}
.product__shipping--icon {
  margin-right: 5vw;
}
.product__shipping--title {
  color: #28292b;
  font-size: 4vw;
  line-height: 5vw;
  background: -webkit-linear-gradient(90deg, #008ad7, #00e485);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.product__shipping--anchor {
  color: #0067b2;
  font-size: 0.7rem;
  font-weight: 500;
}
.product__shipping--txt {
  display: flex;
  flex-direction: column;
}

/* Version Mobile Horizontal */
@media (min-width: 640px) {
}

/* Version Tablet */
@media (min-width: 768px) {
  .shipping-opc_desk,
  .pickup-opc_desk {
    display: block;
  }
  .shipping-opc_mobile,
  .pickup-opc_mobile {
    display: none;
  }
}

/* Version Laptop */
@media (min-width: 1024px) {
  .product__shipping {
    padding: 0;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .product__shipping--opc {
    padding: 1rem 0;
    margin-bottom: 0;
    width: 49%;
    border-image: linear-gradient(
        45deg,
        rgba(255, 18, 231, 1) 0%,
        rgba(191, 42, 239, 1) 33%,
        rgba(111, 99, 255, 1) 66%,
        rgba(58, 93, 255, 1) 100%
      )
      10;
  }
  .product__shipping--opc .desktop-icon {
    display: block;
  }
  .product__shipping--opc .mobile-icon {
    display: none;
  }
  .product__shipping--icon {
    margin-right: 1rem;
  }
  .product__shipping--title {
    font-size: 0.8rem;
    line-height: 1rem;
    color: #28292b;
    -webkit-text-fill-color: unset;
    background: none;
  }

  .product__shipping--anchor {
    font-size: 0.6rem;
  }
}
/*-------------------------------------------*\
    DESCRIPCIÓN
\*-------------------------------------------*/

.product__description h2,
.product__reviews h3 {
  font-size: 22px;
  font-family: "Myriad Pro Bold";
  color: #424242;
}
.caracteristicas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#caracteristicas h4.group.Especificaciones {
  display: none;
}
.especificaciones {
  width: 100%;
}

table.group.Especificaciones {
  border: 1px solid #28292b;
  width: 100%;
  margin: 0 auto;
  color: #505050;
}

th.name-field {
  color: #505050;
  width: 50%;
  text-align: left;
  padding: 0.2rem;
}
#caracteristicas tr {
  border-bottom: 0.25px solid #28292b;
}
.especificaciones {
  margin: 2rem 0;
}
.productDescription {
  color: #505050;
}
.productDescription.descripcion:before {
  content: "-";
  margin-right: 0.2rem;
  color: #505050;
}
@media (min-width: 768px) {
  .product__description h2 {
    border-bottom: 0.5px solid #0067b2;
    padding-bottom: 0.3rem;
    color: #1e1b1b;
  }
  .caracteristicas-container {
    align-items: flex-start;
  }
  table.group.Especificaciones {
    margin-left: 2rem;
  }

  .descripcion {
    order: 1;
    margin-top: 1rem;
  }
  .especificaciones {
    order: 2;
  }
  .especificaciones {
    width: 40%;
  }
  th.name-field {
    color: #262323;
    font-weight: 400;
    padding: 0.5rem;
  }

  .caracteristicas-container tr td {
    color: #505050;
  }
}

/*-------------------------------------------*\
    Reviews
\*-------------------------------------------*/

*,
::after,
::before,
img {
  border: none;
}
.ver-todos-comentarios {
  display: none;
}
#spnRatingProdutoBottom + span {
  display: none;
}
.avalie-produto {
  margin-top: 2rem;
}
.product__reviews {
  color: #505050;
}
.rating {
  display: none;
}
.userReviewAllCommentsContent {
  background: #fff;
}
.paginacao {
  display: none;
}

#reviews ul.rating li .voteRatingBar {
  background: none repeat scroll 0 0 #f5f5f5;
  display: block;
  height: 20px;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
#reviews ul.rating li .voteRatingBar span {
  background: none repeat scroll 0 0 #f0ad4e;
  display: block;
  height: 20px;
  box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.15);
  border-radius: 3px 0 0 3px;
  border-bottom: 3px solid #cc9342;
}
#reviews ul.rating li .voteRatingBar + span {
  color: #9b9b9b;
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 0;
  line-height: 20px;
}
#reviews ul.rating {
  padding: 0;
}
#reviews ul.rating li {
  clear: both;
  display: block;
  margin: 10px 0;
  max-width: 320px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
#reviews ul.rating li em {
  float: left;
  margin-right: 15px;
}
#reviews .avalie-produto {
  display: block;
  padding-top: 20px;
}
#reviews .avalie-produto h5 {
  color: #333;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
}
#reviews .avalie-produto a {
  display: block;
  float: left;
  margin: 10px 0;
}
#reviews hr,
#reviews p.media em span,
#reviews .links-resenha-usuario {
  display: none;
}

#reviews .resenhas {
  padding: 0;
  border-top: 0 none;
  margin: 0;
}
#reviews .resenhas .quem {
  padding: 0;
}
#reviews .resenhas .opiniao-ajudou {
  padding-top: 15px;
  color: #333;
  font-size: 13px;
  font-weight: 300;
}
#reviews .resenhas .opiniao-ajudou {
  padding-top: 15px;
  color: #333;
  font-size: 13px;
  font-weight: 300;
}
#reviews .resenhas .opiniao-ajudou .bts li {
  display: inline-block;
  vertical-align: top;
  margin: 5px 5px 0 0;
}

#publishUserReview #formUserReview {
  width: 500px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px 20px;
  position: fixed;
  top: 30px;
  left: 50%;
  margin-left: -250px;
  box-shadow: 0 0 10px #ccc;
  z-index: 99999;
}
#publishUserReview #formUserReview .header {
  padding: 0;
  margin: 0;
}
#publishUserReview #formUserReview .header .close {
  position: absolute;
  right: 30px;
  top: 20px;
}
#publishUserReview #formUserReview .header .close a {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}
#publishUserReview #formUserReview .footer,
#publishUserReview #formUserReview .header h1 {
  display: none;
}
#publishUserReview #formUserReview label {
  display: block;
}
#publishUserReview #formUserReview input + label {
  display: inline-block;
  vertical-align: middle;
}
#publishUserReview #formUserReview input {
  margin: 0;
}
#publishUserReview #formUserReview input[type="text"],
#publishUserReview #formUserReview textarea {
  color: #999999;
  background-color: #fff;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-height: 34px;
  width: 100%;
}
#publishUserReview #formUserReview .grp {
  position: relative;
  margin: 10px 0 5px;
}
#publishUserReview #formUserReview .grp span {
  position: absolute;
  top: 5px;
  right: 0;
}
#publishUserReview #formUserReview .ranking {
  display: block;
  margin-top: 15px;
}
#publishUserReview #formUserReview .aviso-resenha {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  line-height: 15px;
}

#reviews .avalie-produto #opcoes-avalie {
  display: block;
  margin: 10px 0;
  width: 100%;
}
#reviews .avalie-produto #opcoes-avalie p strong {
  display: none;
}
#reviews .avalie-produto #opcoes-avalie .firadio {
  margin: 2px 0 0 0;
  vertical-align: top;
}
#reviews .avalie-produto #opcoes-avalie label {
  color: #333;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 20px 0 5px;
}
#reviews #formUserReview .avaliar a,
#reviews #lnkPubliqueResenha {
  background-color: #d0021b;
  border: 0 none;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  min-height: 43px;
  padding: 10px;
  width: 250px;
  text-align: center;
  text-decoration: none;
}
#reviews #formUserReview .avaliar a:hover,
#reviews #formUserReview .avaliar a:active,
#reviews #lnkPubliqueResenha:hover,
#reviews #lnkPubliqueResenha:active {
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.rating-avalie .ratingStar,
.rating-produto {
  font-size: 0;
  line-height: 0;
  color: transparent;
}

.rating-produto:before,
.rating-demonstrativo:before,
.rating-wrapper .rating:before {
  content: "\f006   \f006   \f006   \f006   \f006"; /* f005 - f006 - f123 */
  font-family: FontAwesome;
  font-size: 14px;
  line-height: 20px;
  color: #f0ad4e;
  font-style: normal;
}
.rating-avalie a {
  text-decoration: none;
}
.rating-avalie .ratingStar.emptyRatingStar:before,
.rating-avalie .ratingStar.filledRatingStar:before {
  font-family: FontAwesome;
  font-size: 16px;
  line-height: 20px;
  color: #f0ad4e;
  font-style: normal;
  content: "\f006";
  text-decoration: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.rating-avalie .ratingStar.filledRatingStar:before {
  content: "\f005";
}
.rating-produto.avaliacao50:before,
.rating-produto.a50:before,
.rating-demonstrativo.avaliacao50:before,
.rating-demonstrativo.a50:before,
.rating-wrapper .rating.avaliacao50:before,
.rating-wrapper .rating.a50:before {
  content: "\f005   \f005   \f005   \f005   \f005";
}
.rating-produto.avaliacao45:before,
.rating-produto.a45:before,
.rating-demonstrativo.avaliacao45:before,
.rating-demonstrativo.a45:before,
.rating-wrapper .rating.avaliacao45:before,
.rating-wrapper .rating.a45:before {
  content: "\f005   \f005   \f005   \f005   \f123";
}
.rating-produto.avaliacao40:before,
.rating-produto.a40:before,
.rating-demonstrativo.avaliacao40:before,
.rating-demonstrativo.a40:before,
.rating-wrapper .rating.avaliacao40:before,
.rating-wrapper .rating.a40:before {
  content: "\f005   \f005   \f005   \f005    \f006";
}
.rating-produto.avaliacao35:before,
.rating-produto.a35:before,
.rating-demonstrativo.avaliacao35:before,
.rating-demonstrativo.a35:before,
.rating-wrapper .rating.avaliacao35:before,
.rating-wrapper .rating.a35:before {
  content: "\f005   \f005   \f005   \f123   \f006";
}
.rating-produto.avaliacao30:before,
.rating-produto.a30:before,
.rating-demonstrativo.avaliacao30:before,
.rating-demonstrativo.a30:before,
.rating-wrapper .rating.avaliacao30:before,
.rating-wrapper .rating.a30:before {
  content: "\f005   \f005   \f005   \f006   \f006";
}
.rating-produto.avaliacao25:before,
.rating-produto.a25:before,
.rating-demonstrativo.avaliacao25:before,
.rating-demonstrativo.a25:before,
.rating-wrapper .rating.avaliacao25:before,
.rating-wrapper .rating.a25:before {
  content: "\f005   \f005   \f123   \f006   \f006";
}
.rating-produto.avaliacao20:before,
.rating-produto.a20:before,
.rating-demonstrativo.avaliacao20:before,
.rating-demonstrativo.a20:before,
.rating-wrapper .rating.avaliacao20:before,
.rating-wrapper .rating.a20:before {
  content: "\f005   \f005   \f006   \f006   \f006";
}
.rating-produto.avaliacao15:before,
.rating-produto.a15:before,
.rating-demonstrativo.avaliacao15:before,
.rating-demonstrativo.a15:before,
.rating-wrapper .rating.avaliacao15:before,
.rating-wrapper .rating.a15:before {
  content: "\f005   \f123   \f006   \f006   \f006";
}
.rating-produto.avaliacao10:before,
.rating-produto.a10:before,
.rating-demonstrativo.avaliacao10:before,
.rating-demonstrativo.a10:before,
.rating-wrapper .rating.avaliacao10:before,
.rating-wrapper .rating.a10:before {
  content: "\f005   \f006   \f006   \f006   \f006";
}
.rating-produto.avaliacao5:before,
.rating-produto.a5:before,
.rating-demonstrativo.avaliacao5:before,
.rating-demonstrativo.a5:before,
.rating-wrapper .rating.avaliacao5:before,
.rating-wrapper .rating.a5:before {
  content: "\f123   \f006   \f006   \f006   \f006";
}
.rating-produto.avaliacao0:before,
.rating-produto.a0:before,
.rating-demonstrativo.avaliacao0:before,
.rating-demonstrativo.a0:before,
.rating-wrapper .rating.avaliacao0:before,
.rating-wrapper .rating.a0:before {
  content: "\f006   \f006   \f006   \f006   \f006";
}
#opcoes-avalie {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
#opcoes-avalie p strong {
  font-size: 0;
}
#opcoes-avalie p {
  width: 100%;
}
#opcoes-avalie p strong:after {
  font-size: 15px;
  content: "¿Por qué querés valorar este producto?";
  font-weight: 400;
}
#lnkPubliqueResenha {
  color: #fff;
  padding: 0.2rem 0.5rem;
  background: #008cf2;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.opt-texto,
.opiniao-ajuudo {
  font-family: "Myriad Pro Light";
}
.dados strong {
  font-weight: 400;
}
.email-resenha {
  font-weight: 600;
}
.opiniao-ajudou span,
.opiniao-ajudou span .bts {
  display: flex;
}
.opiniao-ajudou span {
  width: 300px;
}
.opiniao-ajudou span .bts {
  justify-content: space-around;
  width: 60px;
}
.considera-util {
  display: none;
}
#rdoInteresse + label {
  margin-left: -0.5rem;
}
.user-review h4 {
  display: none;
}
.evaluation-rate-container {
  display: none;
}
#TB_window {
  background: #fff;
}
#TB_overlay {
  background: #000;
  opacity: 0.2;
}
.formUserComment h2 {
  display: none;
}
#ulPubliqueResenha {
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .avaliacao {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    width: 100%;
  }
  #opcoes-avalie label {
    margin-left: -0.5rem;
  }

  .media {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1/2;
    margin-top: 5rem;
    width: 50%;
  }

  .media span {
    order: 2;
  }
  .rating {
    grid-column: 1/2;
    margin-top: -3rem;
  }
  .avalie-produto {
    grid-column: 3;
    margin-top: 3rem;
    width: 80%;
  }
  #ulPubliqueResenha {
    grid-column: 3;
  }
  .publique {
    margin-top: 0.5rem;
  }
  .product__user-review {
    margin-bottom: 0;
  }
  .resenhas {
    grid-column: 1;
  }
  .rating-wrapper,
  .opt-texto {
    margin-left: 1rem;
  }
  #rdoInteresse + label {
    margin-left: -1.5rem;
  }
}

/*-------------------------------------------*\
    FAQ
\*-------------------------------------------*/

.acordeon__container {
  background: #fff;
  margin: 0 auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-family: "Myriad Pro Light";
}
.acordeon__container .title {
  font-size: 22px;
  color: #0067b2;
  padding: 1rem 0.5rem;
  font-weight: 300;
}
.acordeon-cabecera {
  cursor: pointer;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
.acordeon-cabecera:not(:nth-last-child(2)) {
  border-bottom: 0.5px solid #aaaaaa;
}
.acordeon-cabecera .question {
  width: 90%;
  color: #28292b;
  font-size: 17px;
  font-weight: 300;
}

.acordeon-cabecera svg {
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}

.acordeon-cabecera.active svg {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.acordeon-contenido {
  display: none;
  background: #fff;
  padding: 1.4rem;
}
@media (min-width: 768px) {
  .acordeon__container {
    padding: 2rem;
  }
}

/*-------------------------------------------*\
    CARRUSELES
\*-------------------------------------------*/

.product__carruseles h4 {
  font-weight: 500;
  color: #006bb4;
  font-size: 18px;
  background: #fff;
  width: 73%;
  padding: 1rem 0.5rem;
  margin-bottom: 2rem;
}
.product__otros h4 {
  margin-top: 2rem;
  width: 90%;
}
@media (min-width: 768px) {
  .product__carruseles h4 {
    font-size: 22px;
    width: 26%;
  }
  .product__otros h4 {
    width: 38%;
    margin-top: 4rem;
  }
  .carrusel-prod {
    width: 95%;
  }
}

/*-------------------------------------------*\
 Modales
\*-------------------------------------------*/
.modal {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.modal a.close-modal {
  top: 5px;
  right: 5px;
  background-image: url(/arquivos/close-icon.png);
  background-size: initial;
}
.blocker {
  z-index: 9999 !important;
}

@media (max-width: 600px) {
  .blocker {
    padding: 20px 0;
  }
  .modal {
    width: 100%;
    overflow: initial !important;
  }
  /* .modal a.close-modal {
    top: -65px;
    width: 56px;
    height: 56px;
    background-color: #000;
    right: 5px;
    background-image: url(/arquivos/close-icon-mobile.png);
    background-size: initial;
  } */
}

/*-------------------------------------------*\
 Modal Shipping
\*-------------------------------------------*/
.frete .shipping-value{
  font-size: 0;
}
.frete .shipping-value:after{
  font-size: 22px;
  content: "Calcular el costo de envío";
  background: #fff;
  padding:0.3rem 0.5rem;
  margin-left: -0.5rem;
}
.product__shipping--modal .modal-header {
  text-align: center;
  font-size: 16px;
  letter-spacing: 2px;
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
}
.content fieldset {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.8rem;
  flex-direction: column;
  position: relative;
}
.frete-calcular.btBordas.btBordasInput {
  position: absolute;
  left: 47%;
}

.cep-busca {
  width: 100%;
  padding-bottom: 0.2rem;
}
#txtCep,
#btnFreteSimulacao {
  height: 40px;
}

#ctl00_lnkHome {
  display: none;
}
.product__shipping--modal-calculador .quantity,
#lnkFechar1 {
  display: none;
}
.cep-busca {
  color: #fff;
}
#btnFreteSimulacao {
  background-color: #066fbb;
  color: #fff;
  width: 50px;
}
.freight-values thead th {
  display: none;
}
.product__shipping--modal-calculador {
  background-image: url(/arquivos/background-shipping-calculator.png);
  padding: 1rem;
  background-size: cover;
  background-position: center;
}
.bt.lnkExterno {
  font-size: 0;
  margin-top: 1rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #0067b2;
  font-style: italic;
  color: #0067b2;
}
.bt.lnkExterno:after {
  font-size: 12px;
  content: "No conozco mi código postal";
  margin-top: 1rem;
}
.freight-values tr {
  line-height: 1.5;
  border-bottom: 1px solid #eee;
}
.freight-values tr:last-child {
  border-bottom: none;
}
.shipping-value {
  background-color: #fff;
  color: #0067b2;
  font-size: 22px;
  width: 70%;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}
.contentWrapper .header h2 {
  display: none;
}
#txtCep {
  display: block !important;
}
.cep-busca {
  display: flex;
  flex-wrap: wrap;
}

.product__shipping--modal-calculador .footer {
  display: none;
}
.prefixo {
  font-size: 0;
}
#txtCep {
  font-size: 14px;
}
.freight-values {
  background: #fff;
  padding: 1rem;
  margin-top: 1rem;
}
.freight-values tbody td:nth-child(1) {
  font-weight: 600;
}
.freight-values tbody td:nth-child(2) {
  padding-left: 2rem;
}
@media (min-width: 768px) {
  .product__shipping--modal {
    width: 65%;
    max-width: unset;
    height: 450px;
    overflow-y: auto !important;
  }

  #txtCep {
    width: 350px;
  }
  .product__shipping--modal-body {
    width: 80%;
    margin: auto;
  }

  #btnFreteSimulacao {
    width: 80px;
  }
  .product__shipping--modal::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  .product__shipping--modal::-webkit-scrollbar:vertical {
    width: 10px;
  }

  .product__shipping--modal::-webkit-scrollbar-button:increment,
  .product__shipping--modal::-webkit-scrollbar-button {
    display: none;
  }
  .product__shipping--modal::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
  }

  .product__shipping--modal::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  .frete-calcular.btBordas.btBordasInput {
    left: 64%;
  }
}
@media (min-width: 1026px) {
  .frete-calcular.btBordas.btBordasInput {
    left: 57%;
  }
}

.container-sucursales {
  background: #fff;
  width: 100%;
  color: #4b4b4b;
  border: 1px solid #212121;
  margin-top: 1rem;
}
.container-sucursales h2 {
  text-align: center;
  font-size: 24px;
}

.accordion-active .accordion-item__label {
  display: none;
}

.accordion-tabs {
  display: flex;
  font-weight: 500;
  width: 100%;
  border-bottom: 2px solid #9d9d9d;
  padding-bottom: 0.2rem;
  margin-top: 1rem;
}
.accordion-tabs .accordion-tab {
  text-align: center;
  font: inherit;
  border: none;
  cursor: pointer;
  transition: background 0.1s ease;
  position: relative;
  top: 6px;
  width: 25%;
  padding-bottom: 0.5rem;
}
.accordion-tabs .accordion-tab.accordion-active {
  border-bottom: 4px solid #00bb76;
}

.accordion-item {
  padding: 2.4rem;
  display: none;
  border: none;
}

.accordion-item.accordion-active {
  display: block;
}
.accordion-item.accordion-active .accordion-item__container {
  padding: 0;
}

/*-------------------------------------------*\
 Modal Payment
\*-------------------------------------------*/

.modal.product__financing-modal {
  font-family: inherit;
  font-size: 14px;
}
.modal.product__financing-modal h2 {
  display: none;
}
.product__financing-promos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product__financing-promos .box-banner {
  margin-bottom: 0.5rem;
  width: 45%;
}
.product__financing-container
  .acordeon__container
  .acordeon
  .acordeon-cabecera
  span {
  display: flex;
  flex-direction: column;
}
.product__financing-container .monto {
  font-weight: 500;
  font-size: 17px;
}
.credito__container,
.debito__container {
  display: flex;
  flex-wrap: wrap;
}
.product__financing-modal .acordeon-contenido.efectivo span,
.product__financing-modal .acordeon-contenido.debitCardPaymentGroup span {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.product__financing--img-container {
  width: 50px;
}
.product__financing--img-container img {
  width: 25px;
}
.creditCardPaymentGroup .monto {
  display: none;
}

.acordeon-contenido.creditCardPaymentGroup {
  display: block !important;
}
.product__financing-container-desk {
  display: none;
}
.product__financing-container .acordeon-cabecera {
  border: none;
  border-bottom: 1px solid #e5e5e5;
}
.acordeon-cabecera.creditCardPaymentGroup {
  border-bottom: none;
}
.product__financing-container .bandera {
  color: #0f64a8;
}
.acordeon-cabecera.creditCardPaymentGroup svg {
  display: none;
}
.product__financing-container .creditCardPaymentGroup .acordeon-contenido p {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.acordeon-contenido.creditCardPaymentGroup .acordeon-cabecera img {
  width: 15%;
}
.product__financing-container img[alt="Rapipago"] {
  width: 60px;
  height: 15px;
}
.product__financing-container img[alt="Visa Electron"] {
  width: 66px;
  height: 40px;
}
.creditCardPaymentGroup .acordeon-contenido span {
  display: flex;
  align-items: center;
}
.valor__total {
  font-weight: 500;
}
.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}
.cuota-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.2rem 0;
  line-height: 1.5;
  border-bottom: 1px solid #eee;
}
.product__financing-container
  .creditCardPaymentGroup
  .acordeon-contenido
  p
  span.highlight {
  margin-left: 0.2rem;
}
img.logo-tarjeta {
  width: 17%;
}
.highlight{
  color: #066FBB
}
@media (max-width: 768px) {
  .debitCardPaymentGroup img.logo-tarjeta {
    width: 16%;
  }
  .product__financing-container img[alt="Visa Electron"] {
    width: 49px;
    height: 30px;
  }
}

@media (min-width: 768px) {
  .modal.product__financing-modal {
    width: 65%;
    max-width: unset;
    overflow-y: auto !important;
    max-height: 500px;
    min-height: 500px;
  }
  .product__financing-promos {
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .product__financing-promos .box-banner {
    width: 22%;
  }
  .product__financing-container-desk {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .product__financing-container-desk h3 {
    width: 100%;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #e5e5e5;
  }
  .product__financing-container-desk .contenido {
    padding: 0.5rem;
  }
  .modal.product__financing-modal h2 {
    display: block;
    text-align: center;
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  .product__financing-container {
    display: none;
  }
  .product__financing-container-desk .acordeon__container {
    display: none;
  }
  .product__financing-container-desk .efectivo,
  .product__financing-container-desk .contenedor.debitCardPaymentGroup {
    width: 45%;
    margin-top: 1rem;
  }
  .product__financing-container-desk .contenido.creditCardPaymentGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .product__financing-container-desk .installments__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .product__financing-container-desk .installments__info p {
    width: 50%;
  }

  .efectivo,
  .contenedor.debitCardPaymentGroup {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contenido.efectivo,
  .contenido.debitCardPaymentGroup {
    width: 90%;
  }
  .contenido.creditCardPaymentGroup .contenedor {
    display: flex;
    justify-content: space-around;
    position: relative;
    cursor: pointer;
  }
  .bandera__desk {
    position: absolute;
    font-size: 10px;
    font-weight: 500;
    color: #066FBB;
    background-color: #fff;
    padding: 0.1rem 0;
    top: -11px;
    left: 3px;
  }
  .logo-tarjeta {
    margin-left: 0.1rem;
  }
  .payment__logo {
    padding: 0.5rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid #e5e5e5;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53px;
  }
  .contenido.debitCardPaymentGroup,
  .contenido.efectivo {
    display: flex;
    justify-content: space-evenly;
  }
  .payment__logo label {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .monto {
    font-weight: 500;
  }
  .installments__info:nth-child(1) {
    margin-top: 2rem;
  }
  .installments__container {
    width: 100%;
    margin-top: 1rem;
  }
  .installment__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.3rem 0;
    line-height: 1.7;
    border-bottom: 1px solid #e5e5e5;
  }
  .contenedor.payment__logo.active {
    border: 2px solid #0f9af7;
  }
  .product__financing-modal::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  .product__financing-modal::-webkit-scrollbar:vertical {
    width: 10px;
  }

  .product__financing-modal::-webkit-scrollbar-button:increment,
  .product__financing-modal::-webkit-scrollbar-button {
    display: none;
  }
  .product__financing-modal::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
  }

  .product__financing-modal::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  .valor__total {
    width: 15%;
    text-align: left;
  }
  .table-header span:nth-child(2){
    width: 16%;
  }
  img.logo-tarjeta {
    width: 80%;
  }
  
}
@media (max-width: 768px) {
  .modal {
    width: 100%;
    top: 30%;
    left: 0;
  }
  .footer {
    position: relative;
    bottom: 153px;
  }
}

/*-------------------------------------------*\
    Notificaciones agregar al carrito
\*-------------------------------------------*/

.agregar-al-carrito.inactivo {
  opacity: 0.5;
}

.agregar-al-carrito.exito .product__add--select-quantity,
.agregar-al-carrito.exito .texto-boton,
.agregar-al-carrito.exito .product__add--carrito {
  display: none;
}
.icono-exito,
.icono-error {
  display: none;
}
.agregar-al-carrito.exito .btn-agregar-al-carrito {
  opacity: 1;
}
.agregar-al-carrito.exito .icono-exito {
  display: block;
}
.agregar-al-carrito .product__price-box.fixed-mobile,
.agregar-al-carrito .product__price-box.fixed-mobile {
  display: none;
}

.product__cart-notification .success {
  display: none;
}
.product__cart-notification .error-stock{
  display: none;

}
.product__cart-notification.sin-stock .error-stock{
  display: block;
  width: 300px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 4;
  background: #fafafa;
  border: 2px solid #FDDC67;
  color: #28292b;
  font-size: 11px;
  font-weight: 500;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 1rem;
  bottom: 70px;
  display: flex;

}
.btn-agregar-al-carrito.sin-stock .icono-exito{
  display: none !important;
}
.error-stock p{
width: 70%;

}
.product__cart-notification.sin-stock .error-msg{
  display: none !important;

}
.close-notification,
.close-notification-failed {
  font-size: 12px;
  cursor: pointer;
}
.product__cart-notification.exito .success {
  width: 300px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 4;
  background: #fafafa;
  border: 2px solid #00bb76;
  color: #28292b;
  font-size: 11px;
  font-weight: 500;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 1rem;
  bottom: 70px;
  display: flex;
}
.product__cart-notification .success span {
  font-weight: 300;
  font-size: 10px;
}
.product__cart-notification .success svg {
  width: 15%;
}

.product__add.error {
  background: #dd1e1e;
  justify-content: center;
  height: 70px;
}
.product__add.error .product__add--select-quantity,
.product__add.error .texto-boton,
.product__add.error .product__add--carrito {
  display: none;
}
.product__add.error .icono-error {
  display: block;
}
.product__cart-notification .error-msg {
  display: none;
}
.close-notification {
  font-size: 12px;
  cursor: pointer;
}
.product__cart-notification.error .error-msg {
  width: 300px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 4;
  background: #fafafa;
  border: 2px solid #dd1e1e;
  color: #28292b;
  font-size: 11px;
  font-weight: 500;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 1rem;
  bottom: 70px;
  display: flex;
}
.product__cart-notification .error-msg span {
  font-weight: 300;
  font-size: 10px;
}
.product__cart-notification .error-msg svg {
  width: 15%;
}
@media (min-width: 768px) {
  .product__add.exito,
  .product__add.error {
    height: 45px;
  }
}
