/*-------------------------------------------*\
    Top footer
\*-------------------------------------------*/

footer {
  padding: 0;
  padding-top: 1rem;
  font-family: "Myriad Pro Regular";
 
  
}
footer h5 {
  font-size: 28px;
  font-family: "Myriad Pro Bold";
  color: #494949;
  margin-bottom: 1rem;
}
footer p,
footer a {
  color: #646464;
}

.footer__top,
.footer__medium,
.footer__bottom {
  width: 100%;
  padding: 2rem;
}
.contacto h5 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
}
.footer__top div {
  margin-bottom: 2rem;
}
.footer__top li {
  margin: 0.5rem 0;
}
.footer__top li a, .footer__medium li a{
  padding: 0.5rem;
  display: inline-block;
    width: 100%;
}
footer ul {
  line-height: 2;
}
.redes {
  gap: 10px;
  flex-wrap: wrap;
}
.contacto {
  width: 100%;
}
.contacto h5{
  padding: 0;
}
a[title="Whatsapp"]{
  margin-top: 0.5rem;
}
a[title="Whatsapp"] svg{
  margin-right: 0.2rem;
}
.arrepentimiento {
  padding: 0.5rem;
  background: #0082CA;
  color: #fff;
  font-weight: 500;
  display: flex;
  justify-content: center;
}
.footer__bottom{
  background-color: #fff;
  padding-bottom: 1rem;
}
@media (max-width: 600px){
  .footer__top, .footer__medium{
    background-color: #e3fff5;
    background-image: linear-gradient(180deg, #e3fff5 0%, #f2f9fd 100%);
  
  }
}
@media (min-width: 600px) {
  .redes {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .contacto {
    margin-top: 1.5rem;
  }
}
@media (min-width: 768px) {
  footer{
  background-image: linear-gradient(90deg, rgba(255, 18, 231, 0.1) 0%, rgba(191, 42, 239, 0.1) 33%, rgba(111, 99, 255, 0.1) 66%, rgba(58, 93, 255, 0.1) 100%);

  }
  .footer__top {
    width: 90%;
  }
  .footer__top div {
    margin-bottom: 0;
  }

  footer h5 {
    font-size: 19px;
    padding: 0.3rem;
  }
  footer p,
  footer a {
    font-size: 14px;
  }
  .redes {
    gap: 15px;
  }

  .contacto h5,
  .contacto p {
    font-size: 12px;
  }

  .logo-footer {
    display: flex;
    justify-content: flex-end;
  }
}
@media (min-width: 900px) {
  .logo-footer {
    width: 35%;
    padding-right: 8rem;
  }
}
/*-------------------------------------------*\
    Medium footer
\*-------------------------------------------*/
.footer__medium {
  border-top: 1px solid #646464;
  border-bottom: 1px solid #646464;
  padding: 2rem;
}
.footer__medium .col {
  margin-bottom: 2rem;
}

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}
.newsletter form {
  width: 90%;
  display: flex;
}

.newsletter button {
  width: 25%;
  color: #fff;
  background: #0082CA;
  padding: 0.5rem;
  font-family: inherit;
}

.alert-success-footer {
  background-color: rgba(141, 212, 248, 0.48);
  color: #0079b5;
  font-weight: 500;
  border-left: 2px solid #0079b5;
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: 11px;
  width: 90%;
}

.footer__medium .newsletter {
  display: block;
  padding: 0;
}
.footer__medium .newsletter p {
  width: 90%;
}
.footer__medium .col li {
  margin: 0.5rem 0;
}
.footer__medium .col li a {
  padding: 0.5rem;
}
.footer__medium .newsletter form {
  width: 85%;
  margin-top: 1rem;
}
.newsletter input#email-footer {
  border: 1px solid #006BB4;
  width: 75%;
  padding: 0.2rem;
  font-size: 14px;
}
.footer__medium .newsletter button {
  width: 30%;
}
.col.newsletter .mensaje-nl {
  font-size: 11px;
  width: 80%;
}
@media (min-width: 800px) {
  .footer__medium {
    padding: 2rem 5rem;
  }
  .footer__medium .col {
    width: 23%;
    margin-bottom: 0;
  }
  .footer__medium .col.newsletter {
    width: 28%;
  }
  .newsletter-contenido {
    width: 85%;
    padding: 3rem;
  }
  .newsletter form {
    width: 60%;
  }
}
/*-------------------------------------------*\
    Bottom footer
\*-------------------------------------------*/
.footer__bottom {
  padding: 1rem;
}
.copyright {
  display: none;
}

@media (min-width: 768px) {

  .footer__bottom {
    padding: 1rem 5rem;
  }
  .copyright {
    display: block;
    font-family: "Myriad Pro Bold";
  }
  .logos {
    width: 40%;
  }
  .logo {
    width: auto;
  }
  .footer__top li {
    margin: 0.3rem;
  }
  .footer__top li a {
    padding: 0.3rem;
  }
  .footer__medium {
    border: 2px solid transparent;
    -moz-border-image:url("/arquivos/border-footer.png") 1 1 repeat; 
    -webkit-border-image:url("/arquivos/border-footer.png") 1 1 repeat;
    -o-border-image:url("/arquivos/border-footer.png") 1 1 repeat; 
    border-image:url("/arquivos/border-footer.png") 1 1 repeat;
   
  }
  .footer__medium .col li {
    margin: 0.3rem;
  }
  .footer__medium .col li a {
    padding: 0.3rem 0;
  }
}
@media (max-width: 800px) {
  .footer__top,
  .footer__medium {
    padding: 2rem 4rem;
  }
  .contacto {
    margin-top: 1.5rem;
  }
  .footer__medium .newsletter form,
  .footer__medium .newsletter p {
    width: auto;
  }
  .footer__bottom {
    padding-top: 1.5rem;
  }
  .logo:not(:first-child) {
    width: 17%;
  }
}
