
/*-------------------------------------------*\
  Vitrinas
\*-------------------------------------------*/

.searchResultsTime, .sub, .pager, .pages .first, .pages .pgEmpty, .pages .last {
  display: none;
}

.vitrines .prateleira {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  grid-gap: 2.5%;
}

.vitrines .prateleira>ul {
  width: 48%;
  margin-bottom: 1rem;
}

.vitrines .prateleira li{
  transition: .3s;
}
.vitrines.efecto .prateleira li{
  transform: scale(0);
}


/* Version Mobile Horizontal */

@media (min-width: 640px) {
  .vitrines .prateleira>ul {
    width: 30%;
  }
}

/* Version Laptop */

@media (min-width: 1024px) {

  #v-showcase > .row{
    display: flex;
    justify-content: space-between;
  }

  .article {
    width: 73%;
  }
  .vitrines .prateleira>ul {
    width: 23%;
  }
}

/*-------------------------------------------*\
  Filtros
\*-------------------------------------------*/

.v-filtros {
  position: fixed;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  height: 65%;
  background-color: white;
  width: 100%;
  z-index: 1000;
  padding: 10px;
  overflow-y: auto;
  opacity: 0%;
  transition: all 0.5s ease-in-out;
}

.v-filtros.show {
  transform: translateY(0%);
  opacity: 100%;
  transition: all 0.5s ease-in-out;
}

.filtros-vtex, .v-filtros {
  font-size: 12px;
}
.v-filtros__content {
  max-height: 170px;
  padding: 10px 10px 0;
  overflow-y: auto;
  margin-bottom: 20px;
  background-color: white;
}

.v-filtros__list{
  padding-bottom: 6rem;
}

.v-filtros__tipo.mostrar-categorias:before{
  content: 'CATEGORIAS:';
  font-size: 1.2em;
  color: #066FBB;
  font-weight: bold;
}

.v-filtros__tipo.mostrar-filtrar-por:before{
  content: 'FILTRAR POR:';
  font-size: 1.2em;
  color: #066FBB;
  font-weight: bold;
}

.v-filtros__tipo{
  background-color: #fff;
  padding: 10px 10px 0;
}

.v-filtros__tipo.categorias,
.v-filtros__tipo.atributos {
  margin-bottom: 1.5rem;
}


.v-filtros__title {
  font-weight: 600;
  padding: 5px 10px;
  margin-top: 10px;
  border-bottom: 1px solid #e9e9e9;
  font-size: 1.1em;
  cursor: pointer;
  text-transform: capitalize;
}

.v-filtros__content::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}
.v-filtros__content::-webkit-scrollbar {
  width: 7px;
  background: #f4f4f4;
}
.v-filtros__content::-webkit-scrollbar-thumb {
  background: #cdcdcd;
}

.v-filtro{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 0;
  font-size: .7rem;
  cursor: pointer;
}

.v-filtro.ver-todo.hidden{
  display: none;
}

.v-filtro:before,
.v-filtro__acum--text:before{
  content: '';
  border: 1px solid #000;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 3px;
}

.v-filtro:hover:before{
  background-color: #066FBB;
}

.v-filtros__acum{
  background-color: #eeecec;
  padding: 5px;
}
.v-filtros__acum--title{
  font-style: italic;
  color: #066FBB;
  font-weight: bold;
}
.v-filtros__acum--list{
  display: flex;
  flex-direction: column;
}
.v-filtro__acum{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  padding-left: 0px;
  cursor: pointer;
}
.v-filtro__acum--text{
  display: flex;
  align-items: center;
}
.v-filtro__acum--text:before{
  background-color: #066FBB;
}
.v-filtros__acum--limpiar{
  color: #000;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  margin: .5rem auto 0;
  width: 70%;
  cursor: pointer;
}


/* Version Laptop */

@media (min-width: 1024px) {

  .v-filtros {
    background-color: transparent;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    transform: translateY(0);
    width: 25%;
    opacity: 100;
    z-index: 0;
    padding: 0;
    overflow-y: auto;
    transition: all .2s;
    height: calc(100vh - 120px);
  }
  .v-filtros::-webkit-scrollbar-track {
    background-color: #f4f4f4;
  }
  .v-filtros::-webkit-scrollbar {
    width: 7px;
    background: #f4f4f4;
  }
  .v-filtros::-webkit-scrollbar-thumb {
    background: #cdcdcd;
  }

  body.scroll-up .v-filtros{
    top: 120px;
  }

  .v-filtros__list{
    padding-bottom: 1rem;
  }

  .closed__panel {
    display: none;
  }
}


/*-------------------------------------------*\
  Ordenar Por
\*-------------------------------------------*/

.ordenar {
  position: fixed;
  bottom: 0;
  transform: translateY(100%);
}

.v-ordenar {
  z-index: 1001;
  position: fixed;
  height: 65%;
  width: 100%;
  background-color: white;
  padding: 20px;
  opacity: 0%;
  transition: all .5s ease-in-out;
  bottom: 0;
  left: 0;
}

.v-ordenar.show {
  transform: translateY(0%);
  opacity: 100%;
  transition: all .5s ease-in-out;
}

.v-ordenar__title {
  font-size: 1em;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.v-ordenar__item {
  display: block;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #0000001f;
  cursor: pointer;
}

.v-ordenar__item span {
  padding: 10px 10px 10px 0px;
  display: block;
}

.v-ordenar__item--active{
  position: relative;
  color: #066FBB;
  font-weight: bold;
}
.v-ordenar__item--close{
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 640px){
  .v-ordenar {
    transform: translateY(100%);
  }
}

/* Version Laptop */

@media (min-width: 1024px) {
  .ordenar {
    position: relative;
    bottom: 0;
    transform: translateY(0);
    margin-bottom: 2rem;
  }
  .ordenar__list {
    display: flex;
    justify-content: space-between;
  }
  .ordenar__titulo {
    color: #323232;
    text-transform: uppercase;
  }
  .ordenar__item {
    width: auto;
    height: auto;
    color: #757575;
  }

.v-ordenar {
  position: relative !important;
  display:block !important;
  height: auto !important;
  width: auto !important;
  background-color: #ffffff00 !important;
  margin-left: 0px !important;
  padding: 10px 0px 0px !important;
  /* transform: translateX(0%); */
  opacity: 100%;
  transition: all .5s ease-in-out;
  bottom: auto;
  border-bottom: 1px solid #0000001f;
  margin-bottom: 10px;
  z-index: 1;
}

.v-ordenar__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    align-items: center;
}

.v-ordenar__item {
  border-bottom: 0px !important;
}
}


/*-------------------------------------------*\
  Paginador
\*-------------------------------------------*/

.v-paginador {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
  .v-paginador__btn{
    background: linear-gradient(to right, #00E485, #008AD7);
    color: #fff;
    font-size: 5vw;
    padding: .5rem 1rem;
    cursor: pointer;
  }

/* Version Mobile Horizontal */
@media (min-width: 640px) {

}

/* Version Tablet */
@media (min-width: 768px) {

}

/* Version Laptop */
@media (min-width: 1024px) {
  
  .v-paginador__btn{
    font-size: 1rem;
  }

}

/*-------------------------------------------*\
  Loading
\*-------------------------------------------*/

.v-loading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0000008c;
  z-index: 1005;
  display: flex;
  align-items: center;
  justify-content: center;
}
.v-loading__spinner{
  display: block;
  width: 50px;
  height: 50px;
  background: transparent;
  box-sizing: border-box;
  border: 10px solid transparent;
  border-top: 10px solid white;
  border-radius: 100%;
  animation: spin 0.6s ease-out infinite;
}

@keyframes spin {
  100% {transform: rotate(360deg)}
}