#set($id = $product.Id)
#set($idSku = $product.productVariantId)
#set($uri = $product.Uri)
#set($escapedName = $product.HtmlEscapedName)
#set($nameProduct = $product.Name)

<span class="vitrina" id="product-$id">

    <a class="vitrina__link" href="$uri" title="$escapedName">

        <span class="vitrina__product-image">
            $product.GetImageTag(2)
        </span>

    </a>

    <span class="vitrina__product-info">

        <a class="vitrina__product-info-link" href="$uri" title="$escapedName">

            <span class="vitrina__product-name">
                $product.Name
            </span>
            <span class="vitrina__product_codigo">
                Sku: $product.Id
            </span>

        </a>

        <div class="vitrina__condiciones-pago">

            <div class="vitrina__montos">

                #if($product.IsInStock)
                #if ($product.HasBestPrice)
                <span class="vitrina__product-old-price">
                    $product.ListPrice
                </span>
                #end
                <span class="vitrina__product-best-price">
                    <strong>$product.BestPrice</strong>
                </span>
                #else
                <span class="vitrina__product-best-price">
                    <strong style="opacity: 0;">-</strong>
                </span>
                #end

                #if ($product.NumbersOfInstallment > 1)
                <span class="vitrina__installment">
                    o ${product.NumbersOfInstallment} cuotas de <span class="nowrap">$product.InstallmentValue</span>
                </span>
            #end

            </div>

            <!-- <div class="vitrina__descuento">
                #if ($product.ListPriceMinusBestPriceInPercent)
                <div class="vitrina__descuento-on">
                    <span class="vitrina__descuento-numero">$product.ListPriceMinusBestPriceInPercent</span> OFF
                </div>
                #end
            </div> -->

            <div class="vitrina__comprar">
                <a href="$uri">
                    <btn class="vitrina__comprar-btn">
                        #if($product.IsInStock)
                        COMPRAR
                        #else
                        COTIZAR
                        #end
                    </btn>
                </a>
            </div>
        </div>

    </span>


</span>